
<%- include("../header") -%>

<title>Hemorragia de Adrenal</title>

<%- include("../navbar") -%>

<div class="container">
  
    <%- include("../jumbotron") -%>
    <h4 class="texto p-3 text-uppercase"> Hemorragia de Adrenal</h4>

    <%- include("../colaboradorArtigo") -%>
  
    <hr class="mt-3 pb-3">
      <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-9">
          
        <h5 class="titulo"> <strong > Aspectos Gerais </strong> </h5>
        <p> <strong> A Hemorragia de adrenal</strong> é resultado de uma variedade de causas traumáticas e não traumáticas, tendo a radiologia papel na diferenciação de outras etiologias.</p>
       

        <p></p>        
            <h5 class="titulo"> <strong > Apresentação clínica </strong> </h5>
   <p>  <strong>Quando unilateral geralmente é assintomática( Clinicamente silenciosa ).</strong> Porém quando esta hemorragia é bilateral ela pode levar à insuficiência adrenal aguda ( Crise Addisoniana). Caso a insuficiência adrenal aguda seja secundária a hemorragia de adrenal bilateral ela é chamada de síndrome Waterhouse–Friderichsen.</p>
   
   
           <h5 class="titulo"> <strong > Etiologia </strong> </h5>
   <p> <strong>A hemorragia adrenal pode ser unilateral ou bilateral</strong> sendo trauma a causa mais comum de hemorragia adrenal unilateral.</p>
   <p> A hemorragia adrenal bilateral raramente é causada por trauma e é frequentemente atribuída ao espasmo ou trombose da veia adrenal. </p>
   <p><strong>Os fatores de risco predisponentes incluem: </strong></p>

    <ul>
        <li>Sepse e especialmente meningococcemia (Síndrome de Waterhouse-Friderichsen)</li>
        <li>Coagulação intravascular disseminada (CIVD)</li>
        <li>Síndrome antifosfolípide primária</li>
        <li>Trombocitopenia induzida por heparina</li>
        <li>Uso de corticóides</li>
        <li>Anticoagulação</li>
        <li>Tumor adrenal subjacente</li>
        <li>Doença tromboembólica</li>
        <li>Em neonatos (trauma no parto, sepse, hipóxia, insuficiência adrenal, distúrbios hemorrágicos e diabetes materna) </li>
    </ul>
          

       
           <h5 class="titulo"> <strong > Aspectos de Imagem </strong> </h5>
       
       <hr>
       
       <p><strong>A Hemorragia de adrenal</strong> é caracterizada como uma lesão com atenuação de partes moles que não possui realce ao meio de contraste.
   </p>

           <div class="display">
           
                   <!-- ///////// USG ////////////// -->
           
           <hr>
                <h5><strong class="titulo" > Hemorragia de Adrenal </strong>.</h5> 
                               
              
              <strong class="titulo" > Ultrassonografia: </strong>.
               
               <p> <strong class="pl-3">Modo B: </strong> Aspecto variável:</p>
               <ul>
                   <li> <strong> Agudo ( &lt7dias ):</strong> Hiperecogenico </li>
                   <li> <strong> Subagudo (Entre 7 dias e 7 semanas):</strong> Ecogenicidade mista ( Hiper e Hipocogenico )</li>
                   <li> <strong> Crônico (&gt7 semanas):</strong> Hipoecogenico </li>
               </ul>
               
                       <!-- ///////// TC ////////////// -->
               
               <strong class="titulo">Tomografia: </strong>. 
               
               <p><strong class="pl-3">Fase sem contraste:</strong> Densidade de partes moles, normalmente entre ( 40-90uh )</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Ausência de realce ao meio de contraste</p>
               
               
               
   <!-- 		///////// RM //////////////
                -->
               <strong class="titulo"> Ressonância Magnética: </strong>. 
               <p> <strong class="pl-3">Sequencias: </strong> Aspecto variável nas sequencias ponderadas em T1 e T2.</p>
               <ul>
                <li> <strong> Agudo ( &lt7dias ):</strong> Hipointenso nas sequencias ponderadas em T1 e T2 </li>
                <li> <strong> Subagudo (Entre 7 dias e 7 semanas):</strong> Hiperintenso nas sequencias ponderadas em T1 e T2</li>
                <li> <strong> Crônico (&gt7 semanas):</strong> Halo hipointenso em T1 e T2 </li>
            </ul>
                       
           
            <p><strong class="pl-3">Fase sem contraste:</strong> Densidade de partes moles.</p>
               
            <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Ausência de realce ao meio de contraste</p>
            
               
           </div>
           
             
           <!-- /////////////////////////////////////////////////// -->
           <hr>
   
            
            <h5 class="titulo"> <strong > Entendendo os Aspectos de Imagem </strong> </h5>
        <p> <strong class="titulo"> Ultrassonografia: </strong>  </p>			
            <p> <strong> A ultrassonografia não tem função diagnóstica</strong>  ou de rastreamento da hemorragia de adrenal no adulto.</p>

           <p> <strong class="titulo"> Tomografia Computadorizada: </strong>  </p>	
           <p><strong >O diagnóstico da hemorragia de adrenal</strong> é realizado em observando-se uma lesão com atenuação de partes moles em loja adrenal e que não possui realce ao meio de contraste. </p>


    <p><strong class="titulo">Ressonância Magnética:</strong></p>
    <p> <strong> As sequencias ponderadas em T1 e T2 </strong> tem função somente no diagnóstico temporal da lesão. O diagnóstico desta lesão na RM é realizado da mesma forma que na tomografia, observando-se a ausência do realce dela ao meio de contraste.</p>

    <h5 class="titulo"> <strong > Diagnósticos Diferenciais </strong> </h5>
   <p><strong class="titulo">Ultrassonografia:</strong></p>
   <p> A lesão quando hiperecogenica pode simular um adenoma de adrenal porém a hemorragia tem aspecto mais amorfo.</p>
                    
   <p><strong class="titulo">Tomografia Computadorizada:</strong></p>				
   <p>O diagnóstico differential desta lesão é principalmente com o incidentaloma ( Adenoma pobre em gordura / feocromocitoma / adrenocarcinoma ) pois ambas as lesões possuem atenuação de partes moles. Ao contrário do incidentaloma a hemorragia de adrenal não possui realce ao meio de contraste. </p>
   <p>Apesar de não ser específico uma lesão de adrenal com atenuação entre 50-90uh na fase sem contraste sugere hemorragia, os incidentalomas possuem em sua maioria atenuação entre 20-40uh</p>
   <p>Vale lembrar que esta lesão precisa de acompanhamento pois subjacente a hemorragia pode haver um tumor subjacente e que está oculto por</p>

                    
   <p><strong class="titulo">Ressonância Magnética:</strong></p>						 
   <p>A ressonância magnética tem os mesmos diagnósticos diferencias da tomografia.  
           
   


    
                   <!-- ////////////////////////////// -->
         
         <hr class="mb-5 mt-5">
         <h5 class="titulo"> <strong >Referências: </strong> </h5>
               
    <p> <a href="https://www.ajronline.org/doi/full/10.2214/AJR.11.7973">Imaging of Nontraumatic Adrenal Hemorrhage</a> </p>
          
      <p><a href="https://www.ajronline.org/doi/full/10.2214/AJR.11.7973">Acute spontaneous unilateral adrenal hemorrhage: etiology and imaging findings in six cases</a> </p>
      
      <p><a href="https://pubs.rsna.org/doi/full/10.1148/radiographics.19.4.g99jl13949?mobileUi=0">Imaging of Nontraumatic Hemorrhage of the Adrenal Gland</a></p>
      
      <p><a href="https://pubs.rsna.org/doi/10.1148/radiol.2019170489">Case 268: Bilateral Adrenal Hemorrhage in the Context of Sepsis</a></p>

      <p><a href="https://pubs.rsna.org/doi/full/10.1148/rg.2017170043">Imaging of Nonmalignant Adrenal Lesions in Children</a></p>

      <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5343102/">Imaging of unilateral adrenal hemorrhages in patients after blunt abdominal trauma: Report of two cases</a></p>
                      
      
      </div>
      
      
      
      
      
      
  <!--     //////////////////////////////////////////////////
      COLUNA 2 -->
      
      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <h6 class="texto mb-3 p-2">Imagens </h6>
        
   <hr>    
  <!-- ////////////////////////// ULTRASSONOGRAFIA-->
              <strong class="titulo" > Ultrassonografia </strong>

              <!-- <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-ultrassom-ultrassonografia.png" data-lightbox="roadtrip" data-title="ultrassom de Adenoma de adrenal">
                <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-ultrassom-ultrassonografia.png" alt="ultrassom de Adenoma de adrenal"></a> -->
  
   
  <hr>
  
  
  
  <!-- ////////////////////////////////////////////// TOMOGRAFIA -->
              <strong class="titulo" > Tomografia </strong>

              


    <a  href="./abdomen/adrenal/adrenal-hemorragia-adrenal-fases-contraste.png" data-lightbox="roadtrip" data-title="Hemorragia de adrenal pós trauma. Observe as lesões hipodensas hepáticas no segmento 6 indicativo de trauma grau 2 e gás margeando os arcos costais.">
    <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-hemorragia-adrenal-fases-contraste.png" alt="Hemorragia de adrenal"></a>

    <a  href="./abdomen/adrenal/adrenal-hemorragia-adrenal-fases-contraste-roi-uh-densidade.png" data-lightbox="roadtrip" data-title="Observe a ausência de realce ao meio de contraste da hemorragia de adrenal">
        <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-hemorragia-adrenal-fases-contraste-roi-uh-densidade.png" alt="Hemorragia de adrenal"></a>

    <a  href="./abdomen/adrenal/adrenal-hemorragia-adrenal-simulando-incidentaloma.png" data-lightbox="roadtrip" data-title="Hemorragia de adrenal simulando nódulo de adrenal">
            <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-hemorragia-adrenal-simulando-incidentaloma.png" alt="Hemorragia de adrenal"></a>
  
  
  <hr>
 
  <!-- ///////////////////////////////////////// --> <!-- ressonância magnética -->
  <strong class="titulo" > Ressonância </strong>
  
  
  </div>
    </div>
  
  </div>
    
  </div>


  <!-- //////////////////////////////////////////////////////////// -->

  <!-- //////////// CALCULADORA DE WASH OUT -->
  
  <!-- //////////////////////////////////////////////////////////////// -->

  <script>
    "use strict";
    
    function caluladora_washout() {
        let str_precon=document.getElementById("uh_precontraste");
        let str_postcon=document.getElementById("uh_poscontraste");
        let str_delayed=document.getElementById("uh_fasetardia");
        let str_washout_resultadoabsoluto=document.getElementById("washout_resultadoabsoluto");
        let str_washout_resultadorelativo=document.getElementById("washout_resultadorelativo");
        let str_washout_explicacao=document.getElementById("washout_explicacao");
        let str_washout_resultadorelativo_exp=document.getElementById("washout_resultadorelativo_exp");
        
        let uh_precontraste=parseFloat(str_precon.value);
        let uh_poscontraste=parseFloat(str_postcon.value);
        let uh_fasetardia=parseFloat(str_delayed.value);
        let washout_resultadoabsoluto=((uh_poscontraste-uh_fasetardia)/(uh_poscontraste-uh_precontraste)*100).toFixed(1);
        if (isNaN(washout_resultadoabsoluto)) {
            str_washout_resultadoabsoluto.innerHTML="&nbsp;";
            str_washout_explicacao.style.display='none';
        }
        else {
            str_washout_resultadoabsoluto.innerHTML=washout_resultadoabsoluto+"%";
            str_washout_explicacao.style.display='block';
            if (washout_resultadoabsoluto>=60) {
                let str_output=" O washout absoluto maior ou igual a 60% é compatível com Adenoma.";
                if (uh_precontraste>43) {
                    str_output=str_output+" </br>Vale observar que lesões não calcificadas, não hemorrágicas com atenuação maior que 43uh na fase sem contraste é suspeita de malignidade indepedente do resultado do washout.";
                }
                if ((uh_poscontraste>=120) && (uh_precontraste<70)) {
                    str_output=str_output+" A possibilidade de feocromocitama deve ser considerada face ao intenso realce ao meio de contraste.";
                }
                str_washout_explicacao.innerHTML=str_output;
            } else {
                let str_output="O washout absoluto menor ou igual a 60% é indeterminado.";
                if (uh_precontraste<10) {
                    str_output=str_output+"ontudo a baixa atenuação na fase sem contraste é sugestivo de Adenoma.";
                }
                str_washout_explicacao.innerHTML=str_output;
            }
        }
        let washout_resultadorelativo=((uh_poscontraste-uh_fasetardia)/uh_poscontraste*100).toFixed(1);
        
        if (isNaN(washout_resultadorelativo)) {
            str_washout_resultadorelativo.innerHTML="&nbsp;";
            str_washout_resultadorelativo_exp.style.display='none';
        }
        else {
            str_washout_resultadorelativo.innerHTML=washout_resultadorelativo+"%";
            str_washout_resultadorelativo_exp.style.display='block';
            if (washout_resultadorelativo>=40) {
                let str_output=" O washout relativo maior ou igual a 40% é compatível com adenoma.";
                if (uh_precontraste>43) {
                    str_output=str_output+" </br>Vale observar que lesões não calcificadas, não hemorrágicas com atenuação maior que 43uh na fase sem contraste é suspeita de malignidade indepedente do resultado do washout.";
                }
                if ((uh_poscontraste>=120) && (uh_precontraste<70)) {
                    str_output=str_output+" A possibilidade de feocromocitoma deve ser considerada face ao intenso realce ao meio de contraste.";
                }            
                str_washout_resultadorelativo_exp.innerHTML=str_output;
            } else {
                let str_output="O washout relativo menor que 40% tem aspecto indeterminado.";
                if (uh_precontraste<10) {
                    str_output=str_output+"Contudo a baixa atenuação na fase sem contraste é sugestivo de Adenoma.";
                }
                str_washout_resultadorelativo_exp.innerHTML=str_output;
            }
        }
    }
    </script>









  <!-- /////////////////////////////// -->
  
  <%- include("../footer") %>


  <!-- ////////////  ../../footer Aqui você está acessando um arquivo dois niveis antes do diretório que você está. -->