
<%- include("../header") -%>

<title>Adenoma de Adrenal</title>

<%- include("../navbar") -%>

<div class="container">
  
    <%- include("../jumbotron") -%>
    <h4 class="texto p-3 text-uppercase"> Adenoma de Adrenal</h4>

    <%- include("../colaboradorArtigo") -%>
  
    <hr class="mt-3 pb-3">
      <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-9">
          
        <h5 class="titulo"> <strong > Aspectos Gerais </strong> </h5>
        <p> <strong> O adenoma de adrenal</strong> é comumente descrito como uma neoplasia benigna emergente das células que compõem o córtex adrenal. Esta lesão é considerada um tumor benigno e em sua maioria são "não funcionantes" e assintomáticas.</p>

        

        <p></p>
        
            <h5 class="titulo"> <strong > Apresentação clínica </strong> </h5>
   <p>  <strong>Habitualmente não determina sintomas.</strong> Algumas destas lesões possuem aspecto funcional ( produzem hormônios ), as menores são aquelas como maior possibilidade de serem "funcionantes" e as maiores normalmente sendo "não funcionantes".</p>

   <p>Os métodos de imagem ( TC / USG / RM ) não tem papel no diagnóstico de lesões funcionantes e não funcionantes ele é realizado através de exames laboratoriais. Entre as alterações hormonais mais comuns são a síndrome de Cushing e o hiperaldosteronismo e mais raramente virilização</p>
   
   
           <h5 class="titulo"> <strong > Etiologia </strong> </h5>
   <p> <strong>A causa exata exata da maioria dos adenomas adrenais é desconhecida.</strong> Há associação destas lesões com síndromes genéticas como neoplasia endócrina múltipla tipo 1 (MEN1) e polipose adenomatosa familiar (PAF).</p>
    
   
           <h5 class="titulo"> <strong > Aspectos de Imagem </strong> </h5>
       
       <hr>
       
       <p>Os adenomas de adrenal tem duas apresentações diferentes na radiologia:
   </p>
   <ul>
     <li> <strong> Adenoma rico em gordura:</strong> Esta lesão contém grande quantidade de gordura intracelular o que determina seu aspecto típico.</li>
     <li> <strong>Adenoma pobre em gordura:</strong> Esta lesão não possui gordura intracelular, faz diagnóstico diferencial principalmente com o adrenocarcinoma. Neste tipo de lesão deve ser calculado o "wash out" da lesão.</li>
   </ul>
           
           <div class="display">
           
                   <!-- ///////// USG ////////////// -->
           
           <hr>
                <h5><strong class="titulo" > Angiomiolipoma rico em gordura </strong>.</h5> 
                   
               <strong class="titulo" > Ultrassonografia: </strong>.
               
               <p> <strong class="pl-3">Modo B: </strong> Apresenta-se como nódulo hiperecóide.  </p>
               
                       <!-- ///////// TC ////////////// -->
               
               <strong class="titulo">Tomografia: </strong>. 
               
               <p><strong class="pl-3">Fase sem contraste:</strong> Densidade entre 10 e -10uh</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Realce variável ( Não tem valor diagnóstico )</p>
               
               
               
   <!-- 		///////// RM //////////////
                -->
               <strong class="titulo"> Ressonância Magnética: </strong>. 
               
                <p><strong class="pl-3">Sequência T1 Dixon "Em fase":</strong> Em sua maioria são isointensas</p>

                <p><strong class="pl-3">Sequência T1 Dixon "Fora de fase":</strong> Apresenta queda do sinal. ( São pretas na imagem )</p>
                           
                <p><strong class="pl-3">Sequência T2:</strong> ------------------------------------------------------------------ Alto sinal em T2, porém pode ser variável depedendo do conteúdo de gordura, necrose  e hemorragia. </p>
                       
           
               <p><strong class="pl-3">Fase sem contraste:</strong> Não tem valor diagnóstico</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Realce variável ( Não tem valor diagnóstico )</p>
               
           </div>
           
   <!-- //////////////////////////////////////////////// -->
           
           
       <div class="display">
           
                   <!-- ///////// USG ////////////// -->
           
           <hr>
         <h5><strong class="titulo" > Angiomiolipoma pobre em gordura </strong>. </h5>
                   
               <strong class="titulo" > Ultrassonografia: </strong>.
               
               <p> <strong class="pl-3">Modo B: </strong> Apresenta-se como nódulo hipoecóide. </p> 
               
                       <!-- ///////// TC ////////////// -->
               
               <strong class="titulo">Tomografia: </strong>. 
               
               <p><strong class="pl-3">Fase sem contraste:</strong> Densidade de partes moles ( Maior que 20uh )</p>
               
               <p><strong class="pl-3">Fase Arterial:</strong> Sem realce </p>

               <p><strong class="pl-3">Fases Portal:</strong> Intenso realce nesta fase.</p>

               <p><strong class="pl-3">Fases Equilíbrio ( 7min ):</strong> Ainda há realce nesta fase mas ela não tem valor diagnóstico.</p>

               <p><strong class="pl-3">Fases Tardia Adicional ( 10 ou 15 min ):</strong> Presença de "Wash out" da lesão.</p>
               
               
               
           <!-- ///////// RM ////////////// -->
               
               <strong class="titulo"> Ressonância Magnética: </strong>. 
               
               <p><strong class="pl-3">Sequência T1 Dixon "Em fase":</strong> -------------------------Em sua maioria são isointensas</p>

               <p><strong class="pl-3">Sequência T1 Dixon "Fora de fase":</strong> Ausência de queda do sinal. Elas mantém o mesmo sinal de T1 Dixon "Em Fase"</p>
                          
               <p><strong class="pl-3">Sequência T2:</strong> ------------------------------------------------------------------ Alto sinal em T2, porém pode ser variável depedendo do conteúdo de gordura, necrose  e hemorragia. </p>
                      
          
               <p><strong class="pl-3">Fase Arterial:</strong> Sem realce </p>

               <p><strong class="pl-3">Fases Portal:</strong> Intenso realce nesta fase.</p>

               <p><strong class="pl-3">Fases Equilíbrio ( 7min ):</strong> Ainda há realce nesta fase mas ela não tem valor diagnóstico.</p>

               <p><strong class="pl-3">Fases Tardia Adicional ( 10 ou 15 min ):</strong> Presença de "Wash out" da lesão.</p>
               
           </div>
           
           
           
           <!-- /////////////////////////////////////////////////// -->
           <hr>
   
            
            <h5 class="titulo"> <strong > Entendendo os Aspectos de Imagem </strong> </h5>
        <p> <strong class="titulo"> Ultrassonografia: </strong>  </p>			
            <p> <strong> A ultrassonografia não tem função diagnóstica ou de rastreamento dos nódulos de adrenal.</strong> O ultrassom não tem boa sensibilidade ou especifidade para que sejam rastreados os nódulos de adrenal ou mesmo a hiperplasia de adrenal. As pequenas lesões de adrenal não são identificadas por este método e quanto são visualizadas elas são inespecíficas.</p>
            <p>Em caso de grandes lesões de adrenal ( >4 cm ) a ultrassonografia pode visualizá-las, porém o seu aspecto é sempre inespecífico.</p>

            <blockquote class="blockquote text-center">
                <footer class="blockquote-footer"> O que observo na rotina é que normalmente não se faz o diagnóstico de lesões de adrenal mesmo quanto estas são de grande volume. O que normalmente se realiza é a descrição da topografia da lesão no laudo. :
                    <p>___________________________________</p>
                <p> - Lesão ( hipo/hiperecogênica ) localizada em topografia de adrenal... </p> <p> - Lesão ( hipo/hiperecogênica ) em localiação superior ao rim e que determina efeito de massa sobre ele...</p>  <p> - Lesão ( hipo/hiperecogênica ) interposta entre o figado e o rim...</p><cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
           </blockquote>

           <p> <strong class="titulo"> Tomografia Computadorizada: </strong>  </p>	
           <p><strong >Adenoma de Adrenal Rico em Gordura:</strong> </p>
           <p>O adenoma de adrenal rico de gordura é facilmente identificado na fase sem contraste como um nódulo com densidade situada entre 10 e -10uh.</p>
           <p>As fases com contraste não tem utilidade no diagnóstico desta lesão.</p>
           <p>Portanto se a lesão apresenta o intervalo de densidade acima citado o diagnóstico está feito e as fases com contraste não tem relevância diagnóstica.</p>

           <blockquote class="blockquote text-center">
            <footer class="blockquote-footer"> Na prática radiológica há diferença entre o que é recomendado como ponto de corte no diagnóstico do adenoma de adrenal rico em gordura.<p>Os radiologistas consideram o diagnóstico desta lesão quando a sua densidade está entre -10 e 20uh. Este padrão confere uma melhor sensibilidade no seu diagnóstico porém uma menor especificidade.</p> <p>Os livros de endocrinologia consideram este diagnóstico quando a sua densidade está entre -10 e 10uh. Este padrão confere uma a melhor especificidade e a menor menor sensibilidade.</p><cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
            </blockquote>

           <p><strong>Adenoma de Adrenal Pobre em Gordura:</strong></p>
           <p> <b> <i> <u>Protocolo de Adrenal:</u> </i> </b> Para que se possa realizar o diagnóstico diferencial dos incidentalomas é necessário um protocolo específico com realização de fase adicional com 15min.</p>

           <blockquote class="blockquote text-center">
            <footer class="blockquote-footer"> Vale lembrar que ainda não sabemos se a lesão é um adenoma pobre em gordura!!!!!</p> <p>O nome desta lesão localizada na adrenal, com atenuação de partes moles ( > 20uh ) e que ainda não sabemos o diagnóstico é chamada de incidentaloma. Para realizarmos os diagnósticos diferenciais do incidentaloma é necessário utilizar o protocolo de adrenal !!!!!</p> <cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
            </blockquote>

           <p>O protocolo habitual do abdomen trifásico é composto por 3 fases de aquisição de imagens após o contraste. A fase arterial realizada com 30s, a fase portal realizada com 60-80s e a fase de equilíbrio realizada com 7min, porém somente estas fases não são suficientes para que seja realizado os seu diagnósticos diferenciais ou seu diagnóstico.</p>
           <p>No protocolo de adrenal é necessário realizar uma fase adicional tardia com 15 min para que se possa calcular o washout ( relativo e absoluto ) do incidentaloma.</p>

            <p><b> <i> <u>Diagnóstico da lesão:</u> </i> </b> O diagnóstico do adenoma pobre em gordura é realizado calculando-se o "Washout" da lesão/incidentaloma.</p>
            <p>O adenoma de adrenal "lava" na fase tardia com 15 min ou seja, esta lesão possui washout, ao contrário do adrenocarcinoma que não possui washout.</p>
           <p>Para o cálculo do "Washout" pode-se utilizar duas métricas, o "Washout relativo" e o "Washout absoluto", e ambos tem boa sensibilidade e especificidade para o diagnóstico do adenoma pobre em gordura.</p>
           <p>A vantagem do "Washout relativo" é que leve pode ser realizado na ausência da fase sem contraste.</p>
           <p>Para o diagnóstico de adenoma pobre em gordura é necessário somente o cálculo de uma das fórmulas. Caso tenha as fases sem e com contraste escolha o "Washout absoluto", caso não disponha da fase sem contraste use o "Washout relativo".</p>

           <p>No Brasil ainda há serviços de imagem que realizam a fase tardia com 10min ou invés de 15 min e muitos livros de endocrinologia desatualizados ainda sugerem este protocolo. A fase tardia com 10 min não deve mais ser realizada pois além dela não ser mais recomendada por artigos mais recentes e especialistas internacionais em adrenal ela possui uma sensibilidade e especificidade menor que a fase de 15min.</p>

           <p><strong>Valores de referência:</strong></p>
           <ul>
               <li><strong>Protocolo de 15 min</strong></li>
               <li>>60% no washout absoluto é diagnóstico de Adenoma de Adrenal.</li>
               <li>>40% no washout absoluto é diagnóstico de Adenoma de Adrenal.</li>
           </ul>
           <ul>
            <li><strong>Protocolo de 10 min</strong></li>
            <li>>50% no washout absoluto é diagnóstico de Adenoma de Adrenal.</li>
            <li>>50% no washout absoluto é diagnóstico de Adenoma de Adrenal.</li>
        </ul>

           <p> <i>As fórmulas do "Washout absoluto e relativo" e os valores de referencia estão na galeria de imagens.</i> </p>          

           <blockquote class="blockquote text-center">
            <footer class="blockquote-footer"> O Dr Phillip Cheng, MD MS especialista e referencia mundial em imagem de Adrenal recomenda que a fase tardia seja realizada com 15 min!!!<cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
            </blockquote>

           <p><b> <i> <u>Interpretação dos Resultados:</u>  </i> </b></p>
          
           <ul>
               <li> <strong>Washout Positivo:</strong> O diagnóstico de Adenoma pobre em gordura está realizado não sendo necessário nenhum outro estudo adicional.</li>
               <li> <strong>Washout Negativo / Achado Indeterminado:</strong> Não é adenoma de adrenal pobre em gordura. Este achado tem como diagnósticos diferenciais as possbilidades de adrenocarcinoma como a principal e feocromocitoma e metástases como as possibilidades mais remotas.</li>
           </ul>

            <p>Observe que o cálculo do "washout" pode tanto realizar o diagnóstico quanto excluir a possbilidade de adenoma pobre em gordura.</p>


            <blockquote class="blockquote text-center">
                <footer class="blockquote-footer"> No meu dia a dia e junto com outros colegas endocrinologistas observo que é uma luta realizar o diagnóstico correto do incidentaloma.</p> <p>Na minha experiência o maior problema é a inespericiência da clínica para onde você refere o seu exame, onde na maioria das vezes será apenas realizado o exame trífásico do abdomen ( Arteria / Portal / Equilíbrio ) e deixam de realizar a fase tardia com 15min.</p> <p>Para contornar este problema sugiro que acreste no seu pedido médico a frase "Realizar exame de abdomen trifásico com fase tardia adicional com 15 min e com cálculo do washout", apesar de não ser a sua função. </p> <p>Não recomendo acrescentar no pedido médico a frase "Realizar protocolo de Adrenal", já tive o desprazer de receber um exame de abdomen com contraste trifásico e sem a fase tardia ( 15 min ).</p> <cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
            </blockquote>


    <p><strong class="titulo">Ressonância Magnética:</strong></p>
    <p><strong>Adenoma de Adrenal Rico em Gordura: </strong> O diagnóstico é realizado visualizando a "queda do sinal" na sequenacia Dixon "fora de fase" em relação a sequencia Dixon "em fase".  </p>
    <p>Caso as as sequencias Dixon permaneçam com o mesmo sinal o aspecto é de incidentaloma e deve ser realizado a avaliação com contraste.</p>
    <blockquote class="blockquote text-center">
        <footer class="blockquote-footer"> Na imagem você irá observar que a imagem do nódulo na sequencia Dixon "em fase" é cinza enquanto a da sequencia Dixon "fora de fase" é preta. Este aspecto evidencia a "queda do sinal".</p> <cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
    </blockquote>
    <p><strong>Adenoma de Adrenal Pobre em Gordura:</strong> Deve-se realizar o protocolo de adrenal, mantendo a mesma interpretação e raciocínio diagnóstico que da tomografia. A diferença é que se calcula a intensidade da lesão ao invés da sua densidade.</p>


    <h5 class="titulo"> <strong > Diagnósticos Diferenciais </strong> </h5>
   <p><strong class="titulo">Ultrassonografia:</strong></p>
   <p> <strong>Adenoma de adrenal pobre ou rico em gordura:</strong> Como ultrassonografia não tem sensibilidade ou especificidade para se realizar o diagnóstico desta lesão não há diagnósticos diferenciais relevantes na prática clinica. Caso alguma lesão seja rastreada por este método é necessário a investigação com tomografia computadorizado ou com ressonância magnética.</p>
                    
   <p><strong class="titulo">Tomografia Computadorizada:</strong></p>				
   <p><strong>Adenoma de Adrenal Rico em Gordura: </strong> Não há diagnósticos diferenciais pois os critérios diagnósticos possuem alta especificidade.</p>
   <p><strong>Adenoma de Adrenal Pobre em Gordura:</strong></p>
   <ul>
       <li> <strong>Fase sem contraste:</strong> Os principais diagnósticos diferenciais são o adrenocarcinoma, o feocromocitoma e o adenoma pobre em gordura. Não é possível distinguir entre estas hipótese pela fase sem contraste. Para a distinção entre estas hipóteses é necessário o estudo com contraste com protocolo de adrenal.</li>
       <li><strong>Fase com contraste ( protocolo de adrenal ):</strong> Após a realização deste protocolo caso o resultado seja positivo para Adenoma, não há diagnósticos diferenciais pois os critérios diagnósticos possuem alta especificidade. Caso o resultado seja indeterminado os diagnósticos diferenciais são os mesmos da fase sem contraste.Vale observar que dentro do contexto clínico de malignidade prévia o diagnóstico diferencial entre lesão primária ( Adrenocarcinoma ) e metástase não é possível. </li>
      
   </ul>
                    
   <p><strong class="titulo">Ressonância Magnética:</strong></p>						 
   <p><strong>Adenoma de Adrenal Rico em Gordura: </strong> Não há diagnósticos diferenciais pois os critérios diagnósticos possuem alta especificidade. A "queda do sinal" na sequencia T1 Dixon "Fora de Fase" é bastante específica para este diagnóstico.</p>
   <p><strong>Adenoma de Adrenal Pobre em Gordura:</strong></p>
   <ul>
       <li> <strong>Fase sem contraste:</strong> Os mesmos critérios e raciocínio da tomografia se aplicam a ressonância magnética.</li>
       <li><strong>Fase com contraste ( protocolo de adrenal ):</strong> Os mesmos crtitérios e raciocínio da tomografia se aplicam a ressonância magnética.</li>
   </ul>
           
   


   <!-- /////////////////////////////////////////////////////////////// -->
                   
   <!-- ///////////////////////////// calculadora wash out -->

   <!-- ///////////////////////////////////////////////////////////////// -->

   <hr>

   <h5><strong class="titulo mt-5 pt-5">Calculadora de "Washout"</strong></h5>
   
   <p><strong>Deve-se realizar o cálculo do washout apenas de lesões compatíveis com incidentalomas ou seja com atenuação maior que 20uh na fase sem contraste.</strong></p>
   <p> <b> <i>Use apenas números inteiros / Não use letras, vírgula ( , ) ou pontos ( . )</i> </b> </p>
                   
   <div class="form-horizontal">

    <div class="form-group">
    <label for="uh_precontraste" class=" control-label"><b>Fase Sem Contraste ( uh ):</b></label>
    <div class="">
    <input id="uh_precontraste" class="form-control" placeholder="Coloque o valor da densidade da lesão na fase sem contraste" onchange="caluladora_washout();">
    </div>
    </div>
    
    <div class="form-group">
    <label for="uh_poscontraste" class=" control-label"><b>Fase Portal ( uh ):</b></label>
    <div class="">
    <input id="uh_poscontraste" class="form-control" placeholder="Coloque o valor da densidade da lesão na fase portal " onchange="caluladora_washout();">
    </div>
    </div>
    
    <div class="form-group">
    <label for="uh_fasetardia" class=" control-label"><b>Fase Tardia com 15 min ( uh ):</b></label>
    <div class="">
    <input id="uh_fasetardia" class="form-control" placeholder="Coloque o valor da densidade da lesão na fase tardia com 15 minutos" onchange="caluladora_washout();">
    </div>
    </div>
    
    <div class="form-group">
    <div class="">
    <button id="caluladora_washout" class="btn btn-primary" onclick="caluladora_washout();">Calular o "Wash out"</button>
    </div>
    </div>
    
    <div class="form-group">
    <label class="control-label"> <b><i>Washout Absoluto:</i></b></label>
    <div class="form-control-static">
    <span id="washout_resultadoabsoluto">&nbsp;</span>
    </div>
    </div>
    
    <div class="form-group">
    <div class="explanation alert alert-info col-sm-offset-5 " id="washout_explicacao"></div>
    </div>
    
    <div class="form-group">
    <label class=" control-label"> <b> <i>Washout Relativo</i></b>:</label>
    <div class="form-control-static">
    <span id="washout_resultadorelativo">&nbsp;</span>
    </div>
    </div>
    
    <div class="form-group">
    <div class="explanation alert alert-info" id="washout_resultadorelativo_exp"></div>
    </div>
    
    </div>

    
                   <!-- ////////////////////////////// -->
         
         <hr class="mb-5 mt-5">
         <h5 class="titulo"> <strong >Referências: </strong> </h5>
               
    <p> <a href="https://pubs.rsna.org/doi/pdf/10.1148/rg.295095026">	Adrenal Imaging with
        Multidetector CT: Evidence-based Protocol Optimization and Interpretative Practice</a> </p>
          
      <p><a href="https://pubs.rsna.org/doi/pdf/10.1148/rg.2016150139">Chemical Shift MR Imaging of the Adrenal Gland: Principles, Pitfalls, and Applications</a> </p>
      
      <p><a href="https://pubs.rsna.org/doi/pdf/10.1148/rg.295095027">Adrenal Mass Imaging
        with Multidetector CT: Pathologic Conditions, Pearls, and Pitfalls</a></p>
      
      <p><a href="https://pubs.rsna.org/doi/pdf/10.1148/rg.343130127">From the Radiologic Pathology Archives1 Adrenal Tumors and Tumor-like Conditions in the Adult: Radiologic-Pathologic Correlation2</a></p>

      <p><a href="https://www.researchgate.net/publication/44590897_The_Differential_Imaging_Features_of_Fat-Containing_Tumors_in_the_Peritoneal_Cavity_and_Retroperitoneum_the_Radiologic-Pathologic_Correlation">The Differential Imaging Features of Fat-Containing Tumors in the Peritoneal Cavity and Retroperitoneum: the Radiologic-Pathologic Correlation</a></p>
                      
      
      </div>
      
      
      
      
      
      
  <!--     //////////////////////////////////////////////////
      COLUNA 2 -->
      
      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <h6 class="texto mb-3 p-2">Imagens </h6>
        
   <hr>    
  <!-- ////////////////////////// ULTRASSONOGRAFIA-->
              <strong class="titulo" > Ultrassonografia </strong>

              <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-ultrassom-ultrassonografia.png" data-lightbox="roadtrip" data-title="ultrassom de Adenoma de adrenal">
                <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-ultrassom-ultrassonografia.png" alt="ultrassom de Adenoma de adrenal"></a>
  
   
  <hr>
  
  
  
  <!-- ////////////////////////////////////////////// TOMOGRAFIA -->
              <strong class="titulo" > Tomografia </strong>

              


    <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-formula-washout-relativo-absoluto.png" data-lightbox="roadtrip" data-title="formula-washout">
    <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-formula-washout-relativo-absoluto.png" alt="formula-washout"></a>

    <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-formula-washout-relativo-absoluto-1.png" data-lightbox="roadtrip" data-title="formula-washout">
        <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-formula-washout-relativo-absoluto-1.png" alt="formula-washout"></a>
  
  <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-tomografia-1.png" data-lightbox="roadtrip" data-title="Tomografia computadorizada de Adenoma de adrenal rico em gordura">
  <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-tomografia-1.png" alt="Tomografia computadorizada de Adenoma de adrenal rico em gordura"></a>
  
  
  
  <a  href=" ./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-tomografia.png" data-lightbox="roadtrip" data-title="Tomografia computadorizada de Adenoma de adrenal rico em gordura">
  <img class="img-fluid pt-3" src=" ./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-tomografia.png" alt="Tomografia computadorizada de Adenoma de adrenal rico em gordura"></a>
  
  <a href="./abdomen/adrenal/adrenal-incidentaloma-adrenal-tomografia.png" data-lightbox="roadtrip" data-title="Tomografia computadorizada do incidentaloma">
    <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-incidentaloma-adrenal-tomografia.png" alt="Tomografia computadorizada do incidentaloma"></a>
  
  <hr>
 
  <!-- ///////////////////////////////////////// --> <!-- ressonância magnética -->
  <strong class="titulo" > Ressonância </strong>
  
  <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-ressonancia-magnetica-1.png" data-lightbox="roadtrip" data-title="Ressonancia magnetica do Adenoma de adrenal rico em gordura">
  <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-ressonancia-magnetica-1.png" alt="Ressonancia magnetica de Adenoma de adrenal rico em gordura"></a>
  
  <a  href="./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-ressonancia-magnetica.png" data-lightbox="roadtrip" data-title="Ressonancia magnetica de Adenoma de adrenal rico em gordura">
  <img class="img-fluid pt-3" src="./abdomen/adrenal/adrenal-adenoma-adrenal-rico-gordura-ressonancia-magnetica.png" alt="Ressonancia magnetica de Adenoma de adrenal rico em gordura"></a>
     
  
  
  
  </div>
    </div>
  
  </div>
    
  </div>


  <!-- //////////////////////////////////////////////////////////// -->

  <!-- //////////// CALCULADORA DE WASH OUT -->
  
  <!-- //////////////////////////////////////////////////////////////// -->

  <script>
    "use strict";
    
    function caluladora_washout() {
        let str_precon=document.getElementById("uh_precontraste");
        let str_postcon=document.getElementById("uh_poscontraste");
        let str_delayed=document.getElementById("uh_fasetardia");
        let str_washout_resultadoabsoluto=document.getElementById("washout_resultadoabsoluto");
        let str_washout_resultadorelativo=document.getElementById("washout_resultadorelativo");
        let str_washout_explicacao=document.getElementById("washout_explicacao");
        let str_washout_resultadorelativo_exp=document.getElementById("washout_resultadorelativo_exp");
        
        let uh_precontraste=parseFloat(str_precon.value);
        let uh_poscontraste=parseFloat(str_postcon.value);
        let uh_fasetardia=parseFloat(str_delayed.value);
        let washout_resultadoabsoluto=((uh_poscontraste-uh_fasetardia)/(uh_poscontraste-uh_precontraste)*100).toFixed(1);
        if (isNaN(washout_resultadoabsoluto)) {
            str_washout_resultadoabsoluto.innerHTML="&nbsp;";
            str_washout_explicacao.style.display='none';
        }
        else {
            str_washout_resultadoabsoluto.innerHTML=washout_resultadoabsoluto+"%";
            str_washout_explicacao.style.display='block';
            if (washout_resultadoabsoluto>=60) {
                let str_output=" O washout absoluto maior ou igual a 60% é compatível com Adenoma.";
                if (uh_precontraste>43) {
                    str_output=str_output+" </br>Vale observar que lesões não calcificadas, não hemorrágicas com atenuação maior que 43uh na fase sem contraste é suspeita de malignidade indepedente do resultado do washout.";
                }
                if ((uh_poscontraste>=120) && (uh_precontraste<70)) {
                    str_output=str_output+" A possibilidade de feocromocitama deve ser considerada face ao intenso realce ao meio de contraste.";
                }
                str_washout_explicacao.innerHTML=str_output;
            } else {
                let str_output="O washout absoluto menor ou igual a 60% é indeterminado.";
                if (uh_precontraste<10) {
                    str_output=str_output+"ontudo a baixa atenuação na fase sem contraste é sugestivo de Adenoma.";
                }
                str_washout_explicacao.innerHTML=str_output;
            }
        }
        let washout_resultadorelativo=((uh_poscontraste-uh_fasetardia)/uh_poscontraste*100).toFixed(1);
        
        if (isNaN(washout_resultadorelativo)) {
            str_washout_resultadorelativo.innerHTML="&nbsp;";
            str_washout_resultadorelativo_exp.style.display='none';
        }
        else {
            str_washout_resultadorelativo.innerHTML=washout_resultadorelativo+"%";
            str_washout_resultadorelativo_exp.style.display='block';
            if (washout_resultadorelativo>=40) {
                let str_output=" O washout relativo maior ou igual a 40% é compatível com adenoma.";
                if (uh_precontraste>43) {
                    str_output=str_output+" </br>Vale observar que lesões não calcificadas, não hemorrágicas com atenuação maior que 43uh na fase sem contraste é suspeita de malignidade indepedente do resultado do washout.";
                }
                if ((uh_poscontraste>=120) && (uh_precontraste<70)) {
                    str_output=str_output+" A possibilidade de feocromocitoma deve ser considerada face ao intenso realce ao meio de contraste.";
                }            
                str_washout_resultadorelativo_exp.innerHTML=str_output;
            } else {
                let str_output="O washout relativo menor que 40% tem aspecto indeterminado.";
                if (uh_precontraste<10) {
                    str_output=str_output+"Contudo a baixa atenuação na fase sem contraste é sugestivo de Adenoma.";
                }
                str_washout_resultadorelativo_exp.innerHTML=str_output;
            }
        }
    }
    </script>









  <!-- /////////////////////////////// -->
  
  <%- include("../footer") %>


  <!-- ////////////  ../../footer Aqui você está acessando um arquivo dois niveis antes do diretório que você está. -->