
<%- include("../header") -%>



<!-- metatags -->



<%- include("../navbar") -%>

<div class="container">
  
    <%- include("../jumbotron") -%>
    <h4 class="texto p-3 text-uppercase"> Adenocarcinoma de Cólon </h4>

    <%- include("../colaboradorArtigo") -%>
  
    <hr class="mt-3 pb-3">
      <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-9">


          
        <h5 class="titulo"> <strong> Aspectos Gerais </strong> </h5>
        <p> <strong> O câncer colorretal é uma das neoplasias mais comuns e abrange uma alta incidência e mortalidade entre todas as neoplasias. </strong> Este tumor é a segunda causa mais comum de morte por câncer no mundo ocidental, com uma alta incidência ao longo da vida e estimado em torno de 6%. O prognóstico do tumor de cólon é como outros tumores dependentes do estadiamento e a sobrevida em 5 anos situa-se na faixa de 40% a 60%. Com a introdução de novas técnicas cirúrgicas, introdução de terapias neoadjuvantes e avanços nas modalidades de diagnóstico por imagem, a taxa de mortalidade diminuiu em cerca de 20% nos últimos anos. </p>
  
        <h5 class="titulo"> <strong> Apresentação Clínica </strong> </h5>
        <p> <strong> A sintomatologia depende do cólon acometido.</strong> Os sintomas do câncer do cólon comuns são:</p>

        <ul>
          <li> Sangue nas fezes ( Hematoquezia ) </li>
          <li> Alteração do hábito intestinal ( diarreia ou constipação );</li>
          <li> Dor ou desconforto abdominal;</li>
          <li> Astenia e anemia;</li>
          <li> Perda de peso sem causa aparente.</li>
          <li> Alteração na morfologia das fezes </li>
          <li> Massa palpável no abdomen</li>
        </ul>
  
  
        <h5 class="titulo"> <strong>Etiologia </strong> </h5>
        <p> <strong>O câncer de cólon tem apresentação esporádica (70%), familiar (20%) e sindrômica (10%)</strong>. A de idade ao dianóstico deste tumor é  aos 50 anos ou mais e principalmente quando relacionado a fatores ambientais, diferente de uma minoria de pacientes que possuem um padrão genétco herdade o que lhes conferem um risco maior em uma idade mais jovem (menos de 50 anos).</p>
        <p>As síndromes genéticas mais relacionadas ao tumor de cólon são a polipose adenomatosa familiar (PAF) e a síndrome de Lynch (câncer colorretal hereditário sem polipose HNPCC ). Aproximadamente 5% de todos dos tumores de cólon são atribuídos a essas duas síndromes, porém até 10% a 15% dos pacientes apresentam mutação de alto risco não relacionada à polipose adenomatosa familiar (PAF) ou a síndrome de Lynch (câncer colorretal hereditário sem polipose HNPCC ).</p>
  
        <hr>
  
        <h5 class="titulo"> <strong> Aspectos de Imagem </strong> </h5>

        <p> <b>O aspecto clássico </b> é o espessamento segmentar, irregular e assimétrico do cólon.</p>
  
        
  
        <div class="display">
  
          
          <!-- ///////// USG ////////////// -->
  
          <hr>
          
          <p><strong class="titulo">Ultrassonografia: </strong>.</p>
          
          <p> <strong class="pl-3">Modo B: </strong> ----- </p>
  
          <!-- ///////// TC ////////////// -->
  
          <p><strong class="titulo">Tomografia: </strong>.</p>
  
          <p><strong class="pl-3">Fase sem contraste:</strong> Espessamento com atenuação de partes moles da parede do cólon.</p>
  
          <p><strong class="pl-3">Fase Arterial: </strong> Habitualmente não há realce nesta fase.</p>
          <p><strong class="pl-3">Fase Portal: </strong>Realce predominando nesta fase</p>
          <p><strong class="pl-3">Fase Equilíbrio: </strong>Mantém o realce.</p>
     
  
  
          <!-- 		///////// RM //////////////
                -->
  
           <p> <strong class="titulo"> Ressonância Magnética: </strong>.</p>
  
          <p><strong class="pl-3">Sequência T1:</strong> Espessamento com atenuação de partes moles da parede do cólon. </p>
  
          <p><strong class="pl-3">Sequência T2:</strong> Sinal heterogêneo / Alto sinal em T2 </p> 
  
          <p><strong class="pl-3">Fase Arterial: </strong> Habitualmente não há realce nesta fase.</p>
          <p><strong class="pl-3">Fase Portal: </strong>Realce predominando nesta fase</p>
          <p><strong class="pl-3">Fase Equilíbrio: </strong>Mantém o realce.</p>
  
     


        <!-- /////////////////////////////////////////////////// AD SENSE-->
        <hr>

        <%- include("../googleAdSense_ColunaPrincipal_meio") -%>

          <!-- /////////////////////////////////////////////////// -->
  
  
        <h5 class="titulo"> <strong> Entendendo os Aspectos de Imagem </strong> </h5>
        <p class="titulo"> <strong> Ultrassonografia: </strong></p>
        <p> <strong>Não tem relevancia no diagnóstico, tratamento ou estadiamento junto a maioria dos serviços. </strong>Em casos de tumores muito volumosos podem se apresentar como massa abdominal em topografia dos cólons.</p>
  
        <p class="titulo"> <strong> Tomografia Computadorizada: </strong> </p>
        <p><strong> O aspecto clássico desta lesão e aquele pelo qual fazemos o diagnóstico é o espessamento assimétrico da parede do cólon, este com atenuação de partes moles ( > 20uh ) e que apresenta realce na fase portal.</strong> Para entendermos melhor este aspecto serão apresentadas as definições abaixo:</p>
        
        <p><em><strong>Espessamento da parede do cólon:</strong></em> Aspecto bastante importante de entendermos pois o valor de normalidade da espessura da parede colônica tem diferentes valores  e que são baseados no grau de distensão luminal. Quanto <em>menos distendida</em> a alça, mais espessa se torna a sua parede e quanto <em>mais distenda</em> está a alça mais "fina" a sua parede se torna.</p>
        <p>A partir desta premissa entendemos que o valor de referência de normalidade da parede da alça intestinal é variável com seu grau de distensão.</p>
        <ul>
          <li><strong>Em alças sem distensão ou conteúdo no seu interior</strong> o valor máximo da sua espessura é de até 5mm</li>
          <li><strong>Em alças com leve distensão e pouco conteúdo no seu interior</strong> o valor máximo da sua espessura é de até 3mm</li>
          <li><strong>Em alças com boa distensão ( normalmente distensão luminal com contraste negativo / água )</strong> o valor máximo da sua espessura é de 1-2mm.</li>
          <li>Na prática clínica um espessamento maior que 5mm é patológico.</li>
        </ul>
        
        <p>Além do espessamento da alça os achados de irregularidade das bordas da lesão e realce ao meio de contraste são achados bastante sugestivos de tumor de cólon.</p>

        <p>No dia a dia normalmente não há grande dificuldade diagnóstica pois ainda o diagnóstico é feito tardiamente e estes tumores ao diagnóstico tem espessura em média de 3cm.</p>

        <p class="titulo"> <strong> Ressonância Magnética: </strong> </p>
        <p> <b>Nas sequências ponderadas em T1 e T2:</b> Espessamento da parede da alça intestinal com atenuação de partes moles em T1 e alto sinal em T2.</p>
        <p>Nas sequencias com contraste apresenta o mesmo padrão da tomografia.</p>


          
        <h5 class="titulo"> <strong> Diagnósticos Diferenciais </strong> </h5>
        <p><strong>Ultrassonografia:</strong></p>
        <p> Não tem relevância diagnóstica.</p>

        <p><strong>Tomografia Computadorizada e Ressonância Magnética:</strong></p>
        <p> O diagnóstico diferencial se faz com os padrões de espessamento focal nos cólons, porém não iremos discutir neste artigo face a sua abrangência. Independente destes padrões de espessamento, um achado de espessamento assimétrico do cólon associado a uma clínica sugestiva tem boa sensibilidade e especificidade. </p>

                   
    </div>       
    

    <!-- //////////////////// youtube -->
    <!-- <h5 class="titulo pt-5 mt-5"> <strong> Video Aula / Resumo do artigo no Youtube </strong> </h5>

    <p class="pt-4"> Caso queira visualizar a aula no youtube:<a target="_blank" href="ttps://www.youtube.com/embed/zpOULjyy-n8?rel=0"> Assistir no Youtube</a> </p>
    
    <div class="embed-responsive embed-responsive-16by9 pt-5 mt-5 pb-5">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div> -->
                   

      <!-- ////////////////////////////// -->
      <!-- //////////////////// pixel -->
      
      <%- include("../googleAdSense_ColunaFim") -%>

           

                   <!-- ////////////////////////////// -->
         
         <hr class="mb-5 mt-5">
         <h5 class="titulo"> <strong >Referências: </strong> </h5>
               
        <p> <a target="_blank" href="https://www.ajronline.org/doi/pdf/10.2214/AJR.15.15785">Diagnostic Accuracy of CT for Local Staging of Colon Cancer: A Systematic Review and Meta-Analysis.  </a> </p>
          
      <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5327599/">Comparative analysis of colorectal carcinoma staging using operative, histopathology and computed tomography findings.</a> </p>
      
      <p><a target="_blank" href="https://www.ajronline.org/doi/pdf/10.2214/ajr.182.4.1820905">Frequency and CT Patterns of Bowel Wall Thickening Proximal to Cancer of the Colon</a></p>

      <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3999365/">Bowel wall thickening at CT: simplifying the diagnosis</a></p>

      <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/books/NBK470380/">Cancer, Colon</a></p>
  
      <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4874655/">COLORECTAL CANCER</a></p>

      <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/28267005">MRI for Local Staging of Colon Cancer: Can MRI Become the Optimal Staging Modality for Patients With Colon Cancer?</a></p>

      <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3870495/">Colorectal cancer: Current imaging methods and future perspectives for the diagnosis, staging and therapeutic response evaluation</a></p>
      </div>
      
      
      
      
      
      
  <!--     //////////////////////////////////////////////////
      COLUNA 2 -->
      
      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <h6 class="texto mb-3 p-2">Imagens </h6>
        
   <hr>    
  <!-- ////////////////////////// ULTRASSONOGRAFIA-->
              <strong class="titulo" > Ultrassonografia </strong>
    
  
  <a id="usg_imagem1" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808817/bin/diagnostics-06-00002-g011.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808817/bin/diagnostics-06-00002-g011.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  <a id="usg_imagem2" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/3493.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/3493.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  
  <a id="usg_imagem3" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_55790-Afbeelding5.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_55790-Afbeelding5.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  <a id="usg_imagem4" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_14685.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_14685.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  
  <hr>
  
  
  
  <!-- ////////////////////////////////////////////// TOMOGRAFIA -->
              <strong class="titulo" > Tomografia </strong>
  
  <a href="./abdomen/figado/hemangioma-hepatico-tomografia-abdomen-1.jpg" data-lightbox="roadtrip" data-title="Hemangioma Hepático Cavernoso ( Típico ) / Case courtesy of Dr Bruno Di Muzio, Radiopaedia.org, rID: 20956">
  <img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-hepatico-tomografia-abdomen-1.jpg" alt=""></a>
  
  
  
  
  <hr>
  
  <!-- ///////////////////////////////////////// --> <!-- ressonância magnética -->
  <strong class="titulo" > Ressonância </strong>
  
  <a id="rm_imagem1" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6032655/bin/jbsr-102-1-1536-g5.jpg" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6032655/bin/jbsr-102-1-1536-g5.jpg" alt="Ressonancia magnetica de Angiomiolipoma rico em gordura"></a>
  
  <a id="rm_imagem2" href="   https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig2/AS:466165861490689@1488154010568/Angiomyolipoma-MRI-showing-a-focal-lesion-located-in-the-upper-pole-of-the-left-kidney.png" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="   https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig2/AS:466165861490689@1488154010568/Angiomyolipoma-MRI-showing-a-focal-lesion-located-in-the-upper-pole-of-the-left-kidney.png" alt="Ressonancia magnetica de angiomiolipoma em sequenciais em fase e fora de fase "></a>
     
  <%- include("../googleAdSense_ColunaImagem") -%>


  </div>
    </div>
  
  </div>
    
  </div>

  
  <%- include("../footer") %>


  <!-- ////////////  ../../footer Aqui você está acessando um arquivo dois niveis antes do diretório que você está. -->