
<%- include("../header") -%>


<title> Hemangioma Hepático </title>

<meta name="title" content="Hemangioma Hepático">
<meta name="description" content="Como identificar o hemangioma hepático na tomografia, ultrassom e ressonância. Site para profissionais da saúde.">
<meta name="keywords" content="hemangioma tomografia+hemangioma +tomografiahemangioma tomografia[hemangioma tomografia]hemangioma tomografia computadorizada+hemangioma +tomografia +computadorizadahemangioma tomografia computadorizada[hemangioma tomografia computadorizada]hemangioma ressonancia+hemangioma +ressonanciahemangioma ressonancia[hemangioma ressonancia]hemangioma ressonancia magnetica+hemangioma +ressonancia +magneticahemangioma ressonancia magnetica[hemangioma ressonancia magnetica]hemangioma radiologia+hemangioma +radiologiahemangioma radiologia[hemangioma radiologia]hemangioma radiology+hemangioma +radiologyhemangioma radiology[hemangioma radiology]hemangioma imagem+hemangioma +imagemhemangioma imagem[hemangioma imagem]hemangioma como visualizar+hemangioma +como +visualizarhemangioma como visualizar[hemangioma como visualizar]hemangioma ultrassonografia+hemangioma +ultrassonografiahemangioma ultrassonografia[hemangioma ultrassonografia]hemangioma ultrassom+hemangioma +ultrassomhemangioma ultrassom[hemangioma ultrassom]hemangioma usg+hemangioma +usghemangioma usg[hemangioma usg]hemangioma hepatico tomografia+hemangioma +hepatico +tomografiahemangioma hepatico tomografia[hemangioma hepatico tomografia]hemangioma hepatico tomografia computadorizada+hemangioma +hepatico +tomografia +computadorizadahemangioma hepatico tomografia computadorizada[hemangioma hepatico tomografia computadorizada]hemangioma hepatico ressonancia+hemangioma +hepatico +ressonanciahemangioma hepatico ressonancia[hemangioma hepatico ressonancia]hemangioma hepatico ressonancia magnetica+hemangioma +hepatico +ressonancia +magneticahemangioma hepatico ressonancia magnetica[hemangioma hepatico ressonancia magnetica]hemangioma hepatico radiologia+hemangioma +hepatico +radiologiahemangioma hepatico radiologia[hemangioma hepatico radiologia]hemangioma hepatico radiology+hemangioma +hepatico +radiologyhemangioma hepatico radiology[hemangioma hepatico radiology]hemangioma hepatico imagem+hemangioma +hepatico +imagemhemangioma hepatico imagem[hemangioma hepatico imagem]hemangioma hepatico como visualizar+hemangioma +hepatico +como +visualizarhemangioma hepatico como visualizar[hemangioma hepatico como visualizar]hemangioma hepatico ultrassonografia+hemangioma +hepatico +ultrassonografiahemangioma hepatico ultrassonografia[hemangioma hepatico ultrassonografia]hemangioma hepatico ultrassom+hemangioma +hepatico +ultrassomhemangioma hepatico ultrassom[hemangioma hepatico ultrassom]hemangioma hepatico usg+hemangioma +hepatico +usghemangioma hepatico usg[hemangioma hepatico usg]hemangioma tomografia papirus+hemangioma +tomografia +papirushemangioma tomografia papirus[hemangioma tomografia papirus]hemangioma tomografia computadorizada papirus+hemangioma +tomografia +computadorizada +papirushemangioma tomografia computadorizada papirus[hemangioma tomografia computadorizada papirus]hemangioma ressonancia papirus+hemangioma +ressonancia +papirushemangioma ressonancia papirus[hemangioma ressonancia papirus]hemangioma ressonancia magnetica papirus+hemangioma +ressonancia +magnetica +papirushemangioma ressonancia magnetica papirus[hemangioma ressonancia magnetica papirus]hemangioma radiologia papirus+hemangioma +radiologia +papirushemangioma radiologia papirus[hemangioma radiologia papirus]hemangioma radiology papirus+hemangioma +radiology +papirushemangioma radiology papirus[hemangioma radiology papirus]hemangioma imagem papirus+hemangioma +imagem +papirushemangioma imagem papirus[hemangioma imagem papirus]hemangioma como visualizar papirus+hemangioma +como +visualizar +papirushemangioma como visualizar papirus[hemangioma como visualizar papirus]hemangioma ultrassonografia papirus+hemangioma +ultrassonografia +papirushemangioma ultrassonografia papirus[hemangioma ultrassonografia papirus]hemangioma ultrassom papirus+hemangioma +ultrassom +papirushemangioma ultrassom papirus[hemangioma ultrassom papirus]hemangioma usg papirus+hemangioma +usg +papirushemangioma usg papirus[hemangioma usg papirus]hemangioma papirus papirus+hemangioma +papirus +papirushemangioma papirus papirus[hemangioma papirus papirus]hemangioma hepatico tomografia papirus+hemangioma +hepatico +tomografia +papirushemangioma hepatico tomografia papirus[hemangioma hepatico tomografia papirus]hemangioma hepatico tomografia computadorizada papirus+hemangioma +hepatico +tomografia +computadorizada +papirushemangioma hepatico tomografia computadorizada papirus[hemangioma hepatico tomografia computadorizada papirus]hemangioma hepatico ressonancia papirus+hemangioma +hepatico +ressonancia +papirushemangioma hepatico ressonancia papirus[hemangioma hepatico ressonancia papirus]hemangioma hepatico ressonancia magnetica papirus+hemangioma +hepatico +ressonancia +magnetica +papirushemangioma hepatico ressonancia magnetica papirus[hemangioma hepatico ressonancia magnetica papirus]hemangioma hepatico radiologia papirus+hemangioma +hepatico +radiologia +papirushemangioma hepatico radiologia papirus[hemangioma hepatico radiologia papirus]hemangioma hepatico radiology papirus+hemangioma +hepatico +radiology +papirushemangioma hepatico radiology papirus[hemangioma hepatico radiology papirus]hemangioma hepatico imagem papirus+hemangioma +hepatico +imagem +papirushemangioma hepatico imagem papirus[hemangioma hepatico imagem papirus]hemangioma hepatico como visualizar papirus+hemangioma +hepatico +como +visualizar +papirushemangioma hepatico como visualizar papirus[hemangioma hepatico como visualizar papirus]hemangioma hepatico ultrassonografia papirus+hemangioma +hepatico +ultrassonografia +papirushemangioma hepatico ultrassonografia papirus[hemangioma hepatico ultrassonografia papirus]hemangioma hepatico ultrassom papirus+hemangioma +hepatico +ultrassom +papirushemangioma hepatico ultrassom papirus[hemangioma hepatico ultrassom papirus]hemangioma hepatico usg papirus+hemangioma +hepatico +usg +papirushemangioma hepatico usg papirus[hemangioma hepatico usg papirus]hemangioma hepatico papirus+hemangioma +hepatico +papirus hemangioma hepatico papirus [hemangioma hepatico papirus ]">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Portuguese">
<meta name="author" content="Dr Hercilio Fleury">



<%- include("../navbar") -%>

<div class="container">
  
    <%- include("../jumbotron") -%>
    <h4 class="texto p-3 text-uppercase"> HEMANGIOMA hepático </h4>

    <%- include("../colaboradorArtigo") -%>
  
    <hr class="mt-3 pb-3">
      <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-9">

                
        <blockquote class="blockquote text-center">
   
          <footer class="blockquote-footer">Caso esteja iniciando seus estudos radiológicos sugiro que aprenda inicialmente a identificar o hemangioma cavernoso com segurança face a sua prevalência e somente depois aprender a identificar os hemangiomas atípicos. <cite title="Source Title"><p>Dr Hercilio Fleury</p></cite></footer>
        </blockquote>
          
        <h5 class="titulo"> <strong> Aspectos Gerais </strong> </h5>
        <p> <strong> O hemangioma hepático </strong> é um tipo de nódulo hepático classicamente benigno. Estas lesões são
          caracterizadas por mal formações vasculares são frequentemente encontrados nos exames de imagem. Ele tem origem
          congênita, tem seu suprimento sanguíneo predominantemente arterial como a maioria dos tumores hepáticos e seu
          tipo mais comum é o cavernoso.</p>
  
        <h5 class="titulo"> <strong> Apresentação Clínica </strong> </h5>
        <p> <strong> Em sua grande maioria são assintomáticos. </strong> Podem causar dor caso haja sangramento /
          hemorragia apesar de raro e sendo mais comum em hemangiomas gigantes ( Tem dimensões maiores que 5 cm ) </p>
  
  
        <h5 class="titulo"> <strong>Etiologia </strong> </h5>
        <p> <strong> Origem congênita e benigna.</strong> Raramente tendem a malignizar.</p>
  
           <hr>
  
        <h5 class="titulo"> <strong> Aspectos de Imagem </strong> </h5>
  
     
  
        <p><strong>Há 2 tipos de hemangiomas hepáticos que apresentam certas peculiaridades na imagem</strong>
        </p>
        <strong> Típico / Forma clássica:</strong>
  
        <ul>
          <li>Hemangioma Cavernoso</li>
        </ul>
  
        <strong> Atípica:</strong>
  
        <ul>
          <li>Hemangioma Gigante</li>
          <li>Hemangioma Rápido ( Flash Filling Hemangioma ) </li>
          <li>Hemangioma Lento ( Slow Filling Hemangioma )</li>
          <li>Hemangioma Calcificado</li>
          <li>Hemangioma Hialinizado / Esclerosante</li>
        </ul>
  
        
  
        <div class="display">
  
          
          <!-- ///////// USG ////////////// -->
  
          <hr>
          <h5> <strong class="titulo"> Forma clássica  / Hemangioma Cavernoso:</strong> </h5>
  
          <p><strong class="titulo">Ultrassonografia: </strong>.</p>
          
          <p> <strong class="pl-3">Modo B: </strong> Apresenta-se como nódulo hiperecóide.</p>
  
          <!-- ///////// TC ////////////// -->
  
          <p><strong class="titulo">Tomografia: </strong>.</p>
  
          <p><strong class="pl-3">Fase sem contraste:</strong> Nódulo hipodenso inespecífico ou mesmo isodenso ao parenquima hepático ( Não identificável )</p>
  
          <p><strong class="pl-3">Fase Arterial </strong> Sem realce</p>
          <p><strong class="pl-3">Fases tardias ( Portal e equilíbrio ): </strong> Apresentam realce do tipo globuliforme e progressivo</p>
     
  
  
          <!-- 		///////// RM //////////////
                -->
  
           <p> <strong class="titulo"> Ressonância Magnética: </strong>.</p>
  
          <p><strong class="pl-3">Sequência T1:</strong> Em sua maioria tem baixo sinal ( hipointenso ) ou são isointensos</p>
  
          <p><strong class="pl-3">Sequência T2:</strong> Alto sinal em T2</p> 
  
          <p><strong class="pl-3">Fase Arterial: </strong> Sem realce</p>
          <p><strong class="pl-3">Fases tardias ( Portal e equilíbrio ): </strong> Apresentam realce do tipo globuliforme e progressivo</p>
  
   
  
        <!-- //////////////////////////////////////////////// -->
  
        <h5> <strong class="titulo"> Formas Atípicas </strong> </h5>
  
        <p><strong class="titulo">Ultrassonografia: </strong>.</p>
  
        <p><strong class="pl-3">Modo B: </strong> Normalmente hipoecóides </p>
  
        <p><strong class="titulo">Tomografia: </strong>.</p>
  
        <p><strong class="pl-3">Fase sem contraste:</strong> Não há diferença significativa entre o hemangioma cavernoso e os demais exceto pela possível heterogeneidade e secundário a possíveis complicações ( necrose / hemorragia )</p>
  
        <p><strong class="pl-3">Fase Arterial: </strong> Sem realce, exceto pelo hemangioma hialino / esclerosante  e o hemangioma rápido ( Flash Filling )</p>
  
        <p><strong class="pl-3">Fases tardias ( Portal e equilíbrio ): </strong> Apresentam realce do tipo globuliforme e progressivo</p>
     
  
  
        <!-- 		///////// RM //////////////
              -->
  
         <p> <strong class="titulo"> Ressonância Magnética: </strong>.</p>
  
        <p><strong class="pl-3">Sequência T1:</strong> Em sua maioria tem baixo sinal ( hipointensos ), são isointensos ou heterogêneos pelos mesmos motivos da tomografia ( Necrose / Hemorragia )</p>
  
        <p><strong class="pl-3">Sequência T2:</strong> Alto sinal em T2</p> 
  
        <p><strong class="pl-3">Fase Arterial: </strong> Sem realce, exceto pelo hemangioma hialino / esclerosante.</p>
        <p><strong class="pl-3">Fases tardias ( Portal e equilíbrio ): </strong> Apresentam realce do tipo globuliforme e progressivo</p>
  



        <!-- /////////////////////////////////////////////////// -->
        <hr>
  
  
        <h5 class="titulo"> <strong> Entendendo os Aspectos de Imagem </strong> </h5>
        <p class="titulo"> <strong> Ultrassonografia: </strong></p>
        <p> <strong>Em sua forma típica</strong> os hemangiomas são identificados a este método como um nódulo hiperecogênico. </p> 
        <p> <strong>Em suas formas atípicas</strong> os hemangiomas são identificados a este método como um nódulo hipocogênico e de aspecto inespecífico </p> 
        <p>Apesar do nódulo hiperecogênico ser classicamente associado ao hemangioma ele possui como diagnósticos diferenciais o lipoma hepático ( indistinguível ) e metástases ( Normalmente em grande número )</p>
  
        <p class="titulo"> <strong> Tomografia Computadorizada: </strong> </p>
        <p><strong> <i> <u>Forma Típica: </u></i> </strong> </p>
        <p><strong>Hemangioma Cavernoso:</strong> O aspecto classico do hemangio cavernoso é o realce globuliforme, também chamado de realce progressivo e centrípeto.</p>
        <p>Este tipo de realce é caracterizado é caracterizado por seu início na periferia da lesão na fase portal e com realce progressivo de suas porções centrais em fases mais tardias. Este tipo de hemangioma é o mais prevalente de todos e para o seu diagnóstico é necessário o estudo com contraste endovenoso. </p>
  
  
        <p><strong> <i> <u>Formas Atípicas:</u> </i></strong></p>
        <p>As formas atípicas tem o mesmo tipo de realce do hemangioma cavernoso ( realce globuliforme ), porém o que os diferencia é o início do realce nas fases do contraste ( Arterial / Portal / Tardia ) e o seu tamanho.</p>
        <p><strong>Hemangioma Gigante: </strong> Esta lesão mantém o início do realce globuliforme na fase portal porém mede mais de 5cm. Vale lembrar que como esta lesão é grande ( Definida como maior que 2 cm ) ela tem frequentemente necrose central e não tem realce completo as fases do contraste.</p>
        <p><strong> Hemangioma Rápido ( Flash Filling Hemangioma ) / Hemangioma Capilar </strong> Esta lesão tem o início do realce globuliforme na fase arterial, normalmente já tendo seu realce quase completo e que persiste nas demais fases.</p>
  
        <p><strong>  Hemangioma Lento ( Slow Filling Hemangioma )  </strong> Esta lesão tem o início do realce globuliforme somente em fases mais tardias ( Equilíbrio-7min e Tardia-15min ).</p>
  
        <p><strong> Hemangioma Hialinizado / Esclerosante  </strong> Esta lesão tem o início do realce globuliforme na fase arterial porém na periferia ao contrário do hemangioma rápido e com progressão do realce nas demais fases. Como este hemangioma é caracterizado por fibrose e degeneração hialina do hemangioma ele pode determinar retração capsular do parenquima hepático</p>
  
        <p><strong> Hemangioma Calcificado </strong> Esta lesão tem o início do realce globuliforme na fase portal da mesma forma que o cavernoso porém tem calcificações puntiformes periféricas.</p>
  
        <p class="titulo"> <strong> Ressonância Magnética: </strong> </p>
        <p>Em sua forma típica o hemangioma tem alto sinal em T2, porém apesar de ser bastante classico não é específica desta lesão. Nas formas atípicas tem aspecto variável em T2 inclusive podendo ser hipointeso.</p>
        <p>Na ressonância magnética da mesma forma que na tomografia o diagnóstico se faz pelo seu realce</p>
        <p>O padrão de realce das lesões é o mesmo da tomografia.</p>
  
  
        
        <h5 class="titulo"> <strong> Diagnósticos Diferenciais </strong> </h5>
        <p><strong>Ultrassonografia:</strong></p>
        <p>Hemangioma Cavernoso ( Forma típica ) faz diagnóstico diferencial com o lipoma hepático, e de aspecto indistinguível entre as duas lesões. Em caso de multiplicidade das lesões e história de malignidade prévia o diagnóstico diferencial se faz com metástases hepáticas. </p>
        <p>Nas suas formas atípicas faz diagnóstico diferencial com nódulos hepáticos hipodensos (bastante inespecífico)</p>
  
        <p><strong>Tomografia Computadorizada e Ressonância Magnética:</strong></p>
        <p> O hemangioma hepático normaltmente tem aspecto bastante típico e não apresenta grandes diagnósticos diferenciais.</p>
        <p>O principal diagnóstico diferencial são com as metástases hepáticas que após tratamento com radioterapia e/ou quimioterapia apresentam o mesmo tipo de realce do hemangioma. Para a distinção entre as duas pode-se realizar uma técnica de ressonância magnética chamada decaimento em T2, porém não são todos os serviços de imagem que a realizam. No dia a dia o modo mais usado para diferenciar as lesões secundárias do hemangioma é comparando o exame atual com o exame anterior. </p>

                   
    </div>       
    

    <!-- //////////////////// youtube -->
    <!-- <h5 class="titulo pt-5 mt-5"> <strong> Video Aula / Resumo do artigo no Youtube </strong> </h5>

    <p class="pt-4"> Caso queira visualizar a aula no youtube:<a target="_blank" href="ttps://www.youtube.com/embed/zpOULjyy-n8?rel=0"> Assistir no Youtube</a> </p>
    
    <div class="embed-responsive embed-responsive-16by9 pt-5 mt-5 pb-5">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div> -->
                   
  
                   <!-- ////////////////////////////// -->
         
         <hr class="mb-5 mt-5">
         <h5 class="titulo"> <strong >Referências: </strong> </h5>
               
        <p> <a target="_blank" href="https://www.em-consulte.com/en/article/837845">Hepatic haemangioma: Common and uncommon imaging features</a> </p>
          
      <p><a target="_blank" href="https://www.ajronline.org/doi/full/10.2214/ajr.180.1.1800135">Hepatic Hemangioma: Atypical Appearances on CT, MR Imaging, and Sonography</a> </p>
      
      <p><a target="_blank" href="https://pubs.rsna.org/doi/full/10.1148/radiographics.20.2.g00mc01379">Imaging of Atypical Hemangiomas of the Liver with Pathologic Correlation</a></p>
                            
      
      </div>
      
      
      
      
      
      
  <!--     //////////////////////////////////////////////////
      COLUNA 2 -->
      
      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <h6 class="texto mb-3 p-2">Imagens </h6>
        
   <hr>    
  <!-- ////////////////////////// ULTRASSONOGRAFIA-->
              <strong class="titulo" > Ultrassonografia </strong>



<a href="./abdomen/figado/hemangioma-ultrassom.png" data-lightbox="roadtrip" data-title="Hemangioma ultrassom">
<img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-ultrassom.png" alt="Hemangioma ultrassom "></a>  
  
  
<hr>

  
  <!-- ////////////////////////////////////////////// TOMOGRAFIA -->
              <strong class="titulo" > Tomografia </strong>
  
<a href="./abdomen/figado/hemangioma-tomografia.png" data-lightbox="roadtrip" data-title="Hemangioma típico cavernoso na tomografia / fases com contraste ---- Case courtesy of Dr David Cuete, Radiopaedia.org, rID: 22708">
<img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-tomografia.png" alt="Hemangioma tomografia / fases com contraste"></a> 
  
<a href="./abdomen/figado/hemangioma-tomografia-1.png" data-lightbox="roadtrip" data-title="Hemangioma típico cavernoso na tomografia / fases com contraste ---- Case courtesy of Dr David Cuete, Radiopaedia.org, rID: 22708">
<img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-tomografia-1.png" alt="Hemangioma tomografia / fases com contraste"></a>   
  
  
  <hr>
  
  <!-- ///////////////////////////////////////// --> <!-- ressonância magnética -->
  <strong class="titulo" > Ressonância </strong>
  
<a href="./abdomen/figado/hemangioma-ressonancia-T2.png" data-lightbox="roadtrip" data-title="Hemangioma Cavernoso na ressonancia magnética ----- Case courtesy of Dr Paresh K Desai , Radiopaedia.org, rID: 13319">
<img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-ressonancia-T2.png" alt="Hemangioma na ressonancia magnética"></a>  
     


<a href="./abdomen/figado/hemangioma-ressonancia-com-contraste.png" data-lightbox="roadtrip" data-title="Hemangioma na ressonancia magnética ----- Case contributed by Dr Matt A. Morgan , Radiopaedia.org, rID: 34147">
<img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-ressonancia-com-contraste.png" alt="Hemangioma Cavernoso na ressonancia magnética"></a>  
  
  </div>
    </div>
  
  </div>
    
  </div>

  
  <%- include("../footer") %>


  <!-- ////////////  ../../footer Aqui você está acessando um arquivo dois niveis antes do diretório que você está. -->