
<%- include("../header") -%>

<%- include("../navbar") -%>

<div class="container">
  
    <%- include("../jumbotron") -%>
    <h4 class="texto p-3"> ANGIOMIOLIPOMA RENAL </h4>

    <%- include("../colaboradorArtigo") -%>
  
    <hr class="mt-3 pb-3">
      <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-9">
          
        <h5 class="titulo"> <strong > Aspectos Gerais </strong> </h5>
        <p> <strong> O angiomiolipoma renal é um tumor benigno </strong>do tipo mesenquimal que é comumente encontrado nos rins. Esta lesão é caracterizada por conter vasos sanguíneos dismórficos, células musculares lisas e células de gordura.  A maior parte destas lesões contém gordura macroscópica podendo ser identificada aos métodos de imagem, sendo esta sua forma clássica. </p>
        
            <h5 class="titulo"> <strong > Apresentação clínica </strong> </h5>
   <p>  <strong>Habitualmente não determina sintomas.</strong> O angiomiolipoma é normalmente um achado radiológico nos exames de imagem.  As exceções deste padrão são os grandes angiomiolipomas que podem complicar com hemorragia na lesão ou com extensão para o retroperitôneo ( Sindrome de Wunderlich  )</p>
   
   
           <h5 class="titulo"> <strong > Etiologia </strong> </h5>
   <p> <strong>Os angiomiolipomas são causados por mutações nos genes TSC1 ou TSC2</strong> , que governam o crescimento e a proliferação celular. </p>
    <p>A maioria destes tumores, cerca de 80%, tem apresentação esporádica e os outros 20% estão associados a doenças genéticas.</p>
    <p>Os angiomiolipomas estão fortemente associados à doença genética da esclerose tuberosa, na qual a maioria dos indivíduos apresentam vários angiomiolipomas que afetam os rins bilateralmente. Também são encontrados em mulheres com linfangioleiomiomatose ( Rara doença pulmonar ), portadores de neurofibromatose do tipo 1 e a síndrome de von Hippel-Lindau (vHL)</p>
    
   
           <h5 class="titulo"> <strong > Aspectos de Imagem </strong> </h5>
       
       <hr>
       
       <p>Há 2 tipos de angiomiolipomas com duas apresentações diferentes na imagem
   </p>
   <ul>
     <li> <strong>Típico / Forma clássica ( trifásico ):</strong> Esta lesão contém vasos sanguíneos dismórficos, células musculares lisas e células de gordura</li>
     <li> <strong>Atípica ( Monofásica / epitelióide ):</strong> No nosso meio esta lesão é mais conhecida como angiomiolipoma pobre em gordura. Na imagem não é possível identificar conteúdo gorduroso no seu interior e simula o carcinoma de células renais. Esta lesão ao contrário da sua forma típica são encontradas comumente atípicas nucleares e portanto esta lesão tem risco pra malignização.</li>
   </ul>
           
           <div class="display">
           
                   <!-- ///////// USG ////////////// -->
           
           <hr>
   <p>       <strong class="titulo" > Forma clássica ( Trifásica ) / Angiomiolipoma rico em gordura </strong>. </p>
                   
               <strong class="titulo" > Ultrassonografia: </strong>.
               
               <p> <strong class="pl-3">Modo B: </strong> Apresenta-se como nódulo hiperecóide.  </p>
               
                       <!-- ///////// TC ////////////// -->
               
               <strong class="titulo">Tomografia: </strong>. 
               
               <p><strong class="pl-3">Fase sem contraste:</strong> Presença de área com atenuação de gordura macroscópica no nódulo renal.</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Realce variável ( Não tem valor diagnóstico )</p>
               
               
               
   <!-- 		///////// RM //////////////
                -->
               <strong class="titulo"> Ressonância Magnética: </strong>. 
               
                           <p><strong class="pl-3">Sequência T1:</strong> Em sua maioria são isointensas</p>
                           
                       <p><strong class="pl-3">Sequência T2:</strong> Alto sinal em T2, porém pode ser variável depedendo do conteúdo de gordura, necrose  e hemorragia. </p>
                       
           
               <p><strong class="pl-3">Fase sem contraste:</strong> Presença de área com atenuação de gordura macroscópica no nódulo.</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Realce variável ( Não tem valor diagnóstico )</p>
               
           </div>
           
   <!-- //////////////////////////////////////////////// -->
           
           
       <div class="display">
           
                   <!-- ///////// USG ////////////// -->
           
           <hr>
   <p>       <strong class="titulo" > Forma clássica ( Trifásica ) / Angiomiolipoma rico em gordura </strong>. </p>
                   
               <strong class="titulo" > Ultrassonografia: </strong>.
               
               <p> <strong class="pl-3">Modo B: </strong> Apresenta-se como nódulo hiperecóide. <span title="rm_imagem1" class="btn btn-primary btn-sm ml-2">Imagem</span>  </p> 
               
                       <!-- ///////// TC ////////////// -->
               
               <strong class="titulo">Tomografia: </strong>. 
               
               <p><strong class="pl-3">Fase sem contraste:</strong> Presença de área com atenuação de gordura macroscópica no nódulo renal.</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Realce variável ( Não tem valor diagnóstico )</p>
               
               
               
           <!-- ///////// RM ////////////// -->
               
               <strong class="titulo"> Ressonância Magnética: </strong>. 
               
                           <p><strong class="pl-3">Sequência T1:</strong> Em sua maioria são isointensas</p>
                           
                       <p><strong class="pl-3">Sequência T2:</strong> Alto sinal em T2, porém pode ser variável depedendo do conteúdo de gordura, necrose  e hemorragia. </p>
                       
           
               <p><strong class="pl-3">Fase sem contraste:</strong> Presença de área com atenuação de gordura macroscópica no nódulo.</p>
               
               <p><strong class="pl-3">Fase Arterial e Fases tardias ( Portal e equilíbrio ):</strong> Realce variável ( Não tem valor diagnóstico )</p>
               
           </div>
           
           
           
           <!-- /////////////////////////////////////////////////// -->
           <hr>
   
            
            <h5 class="titulo"> <strong > Entendendo os Aspectos de Imagem </strong> </h5>
        <p> <strong> Ultrassonografia: </strong> No Brasil e em outros países o nódulo hiperecogênico renal sempre foi considerado específico para angiomiolipoma renal, hoje este conceito não é mais utilizado apesar de ser o mais provável. O motivo é que o carcinoma de células renais pode apresentar sangramento ou até conteúdo gorduroso, estes padrões tem aspecto hiperecogênico a ultrassonografia e aspecto que pode simular um angiomiolipoma. Portanto hoje se recomenda a realização de complementação diagnóstica com TC de abdômen com contraste. </p>			
            <!-- <p>.</p> -->
            <!-- <p>.</p> -->
           
   
           <h5 class="titulo"> <strong > Diagnósticos Diferenciais </strong> </h5>
   <p><strong>Ultrassonografia:</strong></p>
   <p> <i>O Angiomiolipoma RICO em gordura</i> faz diagnóstico diferencial com os nódulos renais hiperecogenicos entre os quais se destacam o cisto de conteúdo hemático, o carcinoma renal ( variante células claras ) com hemorragia / conteúdo gorduroso. Não há como fazer a distinção entre estas patologias pela ultrassonografia já que ambos são hiperecogênicos.</p>
   <p>O <i> Angiomiolipoma POBRE em gordura</i> na ultrassonografia faz diagnóstico diferencial com a forma clássica do carcinoma renal ( variante células claras ). Não há como fazer a distinção entre estas patologias pela ultrassonografia.</p>
                    
   <p><strong>Tomografia Computadorizada:</strong></p>				
   <p> Na tomografia computadoriza o Angiomiolipoma rico em gordura pode ser diferenciado dos cistos renais hemáticos e do carcinoma de células renais ( Variante células claras ). 
   </p>
   <p>O cisto renal e o carcinoma de células renais ( Variante células claras ) tem densidade de partes moles ( maior que 20uh ) na tomografia sem contraste enquanto o Angiomiolipoma rico em gordura tem densidade de gordura macroscópica ( Menor que 10uh ), aspectos estes que permitem a sua distinção dos seus diagnósticos diferenciais.</p>
   <p>A distinção entre cisto renal hemático e o carcinoma de células renais é pela presença ou ausência de realce ao meio de contraste. O cisto não tem realce ao meio de contraste enquanto o tumor tem ávido realce por ele.</p>
                    
   <p><strong>Ressonância Magnética:</strong></p>						 
   <p> No exame de ressonância magnética o angiomiolipoma rico em gordura também pode ser bem diferenciado do cisto hemático e do carcinoma de células renais.</p>
   <p>.</p>
                   
                   
                   
                   
  
                   <!-- ////////////////////////////// -->
         
         <hr class="mb-5 mt-5">
         <h5 class="titulo"> <strong >Referências: </strong> </h5>
               
                    <p> <a href="https://posterng.netkey.at/esr/viewing/index.php?module=viewing_poster&task=viewsection&pi=100219&ti=319601&si=1018&searchkey=">	ECR 2010 / C-0220	Differential diagnosis of splenic lesions</a> </p>
          
      <p><a href="https://www.researchgate.net/publication/314079298_Fat-containing_retroperitoneal_tumors_Imaging_findings_differential_diagnosis_and_origin">Fat-containing retroperitoneal tumors: Imaging findings, differential diagnosis and origin.</a> </p>
      
      <p><a href="https://synapse.koreamed.org/search.php?where=aview&id=10.3348/jksr.2016.75.2.77&code=2016JKSR&vmode=PUBREADER#!po=7.14286">Current MR Imaging of Renal Cell Carcinoma</a></p>
      
      <p><a href="https://www.jbsr.be/articles/10.5334/jbsr.1536/">Renal Angiomyolipoma: The Good, the Bad, and the Ugly
  Authors: Nicolas Vos , Raymond Oyen</a></p>
                      
      
      </div>
      
      
      
      
      
      
  <!--     //////////////////////////////////////////////////
      COLUNA 2 -->
      
      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <h6 class="texto mb-3 p-2">Imagens </h6>
        
   <hr>    
  <!-- ////////////////////////// ULTRASSONOGRAFIA-->
              <strong class="titulo" > Ultrassonografia </strong>
  
  <!-- <a id="imagem2" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6159326/bin/JMU-26-119-g003.jpg" data-lightbox="roadtrip" data-title="Sequência Dixon “out fase”: Nela observamos um nódulo com a mesma atenuação que o peritônio adjacente ( Gordura perirenal ). Este padrão na ressonância magnética é compatível com angiomiolipoma rico em gordura">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6159326/bin/JMU-26-119-g003.jpg" alt="Angiomiolipoma pobre em gordura"></a>    -->
  
  
  <a id="usg_imagem1" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808817/bin/diagnostics-06-00002-g011.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808817/bin/diagnostics-06-00002-g011.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  <a id="usg_imagem2" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/3493.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/3493.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  
  <a id="usg_imagem3" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_55790-Afbeelding5.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_55790-Afbeelding5.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  <a id="usg_imagem4" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_14685.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_14685.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  
  <hr>
  
  
  
  <!-- ////////////////////////////////////////////// TOMOGRAFIA -->
              <strong class="titulo" > Tomografia </strong>
  
  <a id="tc_imagem1" href="https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig1/AS:466165861490688@1488154010530/Angiomyolipoma-Axial-CT-showing-a-left-renal-fat-containing-mass-arrow-A-cyst-lesion.png" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig1/AS:466165861490688@1488154010530/Angiomyolipoma-Axial-CT-showing-a-left-renal-fat-containing-mass-arrow-A-cyst-lesion.png" alt="Tomografia computadorizada de Angiomiolipoma rico em gordura"></a>
  
  
  
  <a id="tc_imagem5" href="https://www.jbsr.be/articles/10.5334/jbsr.1536/jbsr-102-1-1536-g2.jpg" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="https://www.jbsr.be/articles/10.5334/jbsr.1536/jbsr-102-1-1536-g2.jpg" alt="Tomografia computadorizada de varios Angiomiolipomas ricos em gordura / sindrome de von Hippel-Lindau "></a>
  
  
  <hr>
  
  <!-- ///////////////////////////////////////// --> <!-- ressonância magnética -->
  <strong class="titulo" > Ressonância </strong>
  
  <a id="rm_imagem1" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6032655/bin/jbsr-102-1-1536-g5.jpg" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6032655/bin/jbsr-102-1-1536-g5.jpg" alt="Ressonancia magnetica de Angiomiolipoma rico em gordura"></a>
  
  <a id="rm_imagem2" href="   https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig2/AS:466165861490689@1488154010568/Angiomyolipoma-MRI-showing-a-focal-lesion-located-in-the-upper-pole-of-the-left-kidney.png" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="   https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig2/AS:466165861490689@1488154010568/Angiomyolipoma-MRI-showing-a-focal-lesion-located-in-the-upper-pole-of-the-left-kidney.png" alt="Ressonancia magnetica de angiomiolipoma em sequenciais em fase e fora de fase "></a>
     
  
  
  
  </div>
    </div>
  
  </div>
    
  </div>

  
  <%- include("../footer") %>


  <!-- ////////////  ../../footer Aqui você está acessando um arquivo dois niveis antes do diretório que você está. -->