
<%- include("../header") -%>



<!-- metatags -->
<meta name="title" content="Carcinoma Renal Variante Células Claras">
<meta name="description" content="Como identificar o carcinoma renal variante células claras na tomografia, ultrassom e ressonância. Site para profissionais da saúde.">
<meta name="keywords" content="carcinoma renal tomografia papirus+carcinoma +renal +tomografia +papiruscarcinoma renal tomografia papirus[carcinoma renal tomografia papirus]carcinoma renal tomografia computadorizada papirus+carcinoma +renal +tomografia +computadorizada +papiruscarcinoma renal tomografia computadorizada papirus[carcinoma renal tomografia computadorizada papirus]carcinoma renal ressonancia papirus+carcinoma +renal +ressonancia +papiruscarcinoma renal ressonancia papirus[carcinoma renal ressonancia papirus]carcinoma renal ressonancia magnetica papirus+carcinoma +renal +ressonancia +magnetica +papiruscarcinoma renal ressonancia magnetica papirus[carcinoma renal ressonancia magnetica papirus]carcinoma renal radiologia papirus+carcinoma +renal +radiologia +papiruscarcinoma renal radiologia papirus[carcinoma renal radiologia papirus]carcinoma renal radiology papirus+carcinoma +renal +radiology +papiruscarcinoma renal radiology papirus[carcinoma renal radiology papirus]carcinoma renal imagem papirus+carcinoma +renal +imagem +papiruscarcinoma renal imagem papirus[carcinoma renal imagem papirus]carcinoma renal como visualizar papirus+carcinoma +renal +como +visualizar +papiruscarcinoma renal como visualizar papirus[carcinoma renal como visualizar papirus]carcinoma renal ultrassonografia papirus+carcinoma +renal +ultrassonografia +papiruscarcinoma renal ultrassonografia papirus[carcinoma renal ultrassonografia papirus]carcinoma renal ultrassom papirus+carcinoma +renal +ultrassom +papiruscarcinoma renal ultrassom papirus[carcinoma renal ultrassom papirus]carcinoma renal usg papirus+carcinoma +renal +usg +papiruscarcinoma renal usg papirus[carcinoma renal usg papirus]carcinoma renal celulas claras tomografia papirus+carcinoma +renal +celulas +claras +tomografia +papiruscarcinoma renal celulas claras tomografia papirus[carcinoma renal celulas claras tomografia papirus]carcinoma renal celulas claras tomografia computadorizada papirus+carcinoma +renal +celulas +claras +tomografia +computadorizada +papiruscarcinoma renal celulas claras tomografia computadorizada papirus[carcinoma renal celulas claras tomografia computadorizada papirus]carcinoma renal celulas claras ressonancia papirus+carcinoma +renal +celulas +claras +ressonancia +papiruscarcinoma renal celulas claras ressonancia papirus[carcinoma renal celulas claras ressonancia papirus]carcinoma renal celulas claras ressonancia magnetica papirus+carcinoma +renal +celulas +claras +ressonancia +magnetica +papiruscarcinoma renal celulas claras ressonancia magnetica papirus[carcinoma renal celulas claras ressonancia magnetica papirus]carcinoma renal celulas claras radiologia papirus+carcinoma +renal +celulas +claras +radiologia +papiruscarcinoma renal celulas claras radiologia papirus[carcinoma renal celulas claras radiologia papirus]carcinoma renal celulas claras radiology papirus+carcinoma +renal +celulas +claras +radiology +papiruscarcinoma renal celulas claras radiology papirus[carcinoma renal celulas claras radiology papirus]carcinoma renal celulas claras imagem papirus+carcinoma +renal +celulas +claras +imagem +papiruscarcinoma renal celulas claras imagem papirus[carcinoma renal celulas claras imagem papirus]carcinoma renal celulas claras como visualizar papirus+carcinoma +renal +celulas +claras +como +visualizar +papiruscarcinoma renal celulas claras como visualizar papirus[carcinoma renal celulas claras como visualizar papirus]carcinoma renal celulas claras ultrassonografia papirus+carcinoma +renal +celulas +claras +ultrassonografia +papiruscarcinoma renal celulas claras ultrassonografia papirus[carcinoma renal celulas claras ultrassonografia papirus]carcinoma renal celulas claras ultrassom papirus+carcinoma +renal +celulas +claras +ultrassom +papiruscarcinoma renal celulas claras ultrassom papirus[carcinoma renal celulas claras ultrassom papirus]carcinoma renal celulas claras usg papirus+carcinoma +renal +celulas +claras +usg +papiruscarcinoma renal celulas claras usg papirus[carcinoma renal celulas claras usg papirus]carcinoma renal tomografia+carcinoma +renal +tomografiacarcinoma renal tomografia[carcinoma renal tomografia]carcinoma renal tomografia computadorizada+carcinoma +renal +tomografia +computadorizadacarcinoma renal tomografia computadorizada[carcinoma renal tomografia computadorizada]carcinoma renal ressonancia+carcinoma +renal +ressonanciacarcinoma renal ressonancia[carcinoma renal ressonancia]carcinoma renal ressonancia magnetica+carcinoma +renal +ressonancia +magneticacarcinoma renal ressonancia magnetica[carcinoma renal ressonancia magnetica]carcinoma renal radiologia+carcinoma +renal +radiologiacarcinoma renal radiologia[carcinoma renal radiologia]carcinoma renal radiology+carcinoma +renal +radiologycarcinoma renal radiology[carcinoma renal radiology]carcinoma renal imagem+carcinoma +renal +imagemcarcinoma renal imagem[carcinoma renal imagem]carcinoma renal como visualizar+carcinoma +renal +como +visualizarcarcinoma renal como visualizar[carcinoma renal como visualizar]carcinoma renal ultrassonografia+carcinoma +renal +ultrassonografiacarcinoma renal ultrassonografia[carcinoma renal ultrassonografia]carcinoma renal ultrassom+carcinoma +renal +ultrassomcarcinoma renal ultrassom[carcinoma renal ultrassom]carcinoma renal usg+carcinoma +renal +usgcarcinoma renal usg[carcinoma renal usg]carcinoma renal celulas claras tomografia+carcinoma +renal +celulas +claras +tomografiacarcinoma renal celulas claras tomografia[carcinoma renal celulas claras tomografia]carcinoma renal celulas claras tomografia computadorizada+carcinoma +renal +celulas +claras +tomografia +computadorizadacarcinoma renal celulas claras tomografia computadorizada[carcinoma renal celulas claras tomografia computadorizada]carcinoma renal celulas claras ressonancia+carcinoma +renal +celulas +claras +ressonanciacarcinoma renal celulas claras ressonancia[carcinoma renal celulas claras ressonancia]carcinoma renal celulas claras ressonancia magnetica+carcinoma +renal +celulas +claras +ressonancia +magneticacarcinoma renal celulas claras ressonancia magnetica[carcinoma renal celulas claras ressonancia magnetica]carcinoma renal celulas claras radiologia+carcinoma +renal +celulas +claras +radiologiacarcinoma renal celulas claras radiologia[carcinoma renal celulas claras radiologia]carcinoma renal celulas claras radiology+carcinoma +renal +celulas +claras +radiologycarcinoma renal celulas claras radiology[carcinoma renal celulas claras radiology]carcinoma renal celulas claras imagem+carcinoma +renal +celulas +claras +imagemcarcinoma renal celulas claras imagem[carcinoma renal celulas claras imagem]carcinoma renal celulas claras como visualizar+carcinoma +renal +celulas +claras +como +visualizarcarcinoma renal celulas claras como visualizar[carcinoma renal celulas claras como visualizar]carcinoma renal celulas claras ultrassonografia+carcinoma +renal +celulas +claras +ultrassonografiacarcinoma renal celulas claras ultrassonografia[carcinoma renal celulas claras ultrassonografia]carcinoma renal celulas claras ultrassom+carcinoma +renal +celulas +claras +ultrassomcarcinoma renal celulas claras ultrassom[carcinoma renal celulas claras ultrassom]carcinoma renal celulas claras usg+carcinoma +renal +celulas +claras +usgcarcinoma renal celulas claras usg[carcinoma renal celulas claras usg]">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Portuguese">
<meta name="author" content="Dr Hercilio Fleury">



<%- include("../navbar") -%>

<div class="container">
  
    <%- include("../jumbotron") -%>
    <h4 class="texto p-3 text-uppercase"> Carcinoma Renal Variante células claras </h4>

    <%- include("../colaboradorArtigo") -%>
  
    <hr class="mt-3 pb-3">
      <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-9">


          
        <h5 class="titulo"> <strong> Aspectos Gerais </strong> </h5>
        <p> <strong> O Carcinoma Renal Variante Células Claras ( CCR ) </strong> é um tipo de nódulo renal classicamente maligno. O Carcinoma Renal de células claras é o tipo mais comum de tumor renal que ocorre em adultos, tem o pior prognóstico entre os tumores epiteliais e há uma grande variedade histologica de padrões morfológicos. </p>
  
        <h5 class="titulo"> <strong> Apresentação Clínica </strong> </h5>
        <p> <strong> Em sua grande maioria são assintomáticos, pode evoluir com dor lombar </strong> O método mais comum de rastreamento destas lesões é pela presença de hematúria no exame de urina.</p>
  
  
        <h5 class="titulo"> <strong>Etiologia </strong> </h5>
        <p> <strong>Este é o subtipo mais comum de tumor renal</strong>, representando 70% do total.Embora a causa exata do carcinoma de células renais de células claras seja desconhecida, o tabagismo, o uso excessivo de certos medicamentos e várias condições de predisposição genética (como a síndrome de von Hippel Lindau) podem contribuir para o desenvolvimento desse tipo de câncer.</p>
  
        <hr>
  
        <h5 class="titulo"> <strong> Aspectos de Imagem </strong> </h5>

        <p> <b>O aspecto clássico </b> desta lesão é o seu realce hipervascular.</p>
  
        
  
        <div class="display">
  
          
          <!-- ///////// USG ////////////// -->
  
          <hr>
          
          <p><strong class="titulo">Ultrassonografia: </strong>.</p>
          
          <p> <strong class="pl-3">Modo B: </strong> Apresenta-se mais comumente como nódulo hiperecóide e mais raramente hiperecóide.</p>
  
          <!-- ///////// TC ////////////// -->
  
          <p><strong class="titulo">Tomografia: </strong>.</p>
  
          <p><strong class="pl-3">Fase sem contraste:</strong> Nódulo hipodenso inespecífico ou mesmo isodenso ao parenquima renal.</p>
  
          <p><strong class="pl-3">Fase Arterial / Fase Córtico Medular: </strong> Intenso realce</p>
          <p><strong class="pl-3">Fases Portal /Nefrográfica: </strong>Intenso realce ou "wash out"</p>
          <p><strong class="pl-3">Fases Tardia ( Portal e equilíbrio ): </strong>-------</p>
     
  
  
          <!-- 		///////// RM //////////////
                -->
  
           <p> <strong class="titulo"> Ressonância Magnética: </strong>.</p>
  
          <p><strong class="pl-3">Sequência T1:</strong> Em sua maioria tem baixo sinal ( hipointenso ) ou são isointensos</p>
  
          <p><strong class="pl-3">Sequência T2:</strong> Alto sinal em T2</p> 
  
          <p><strong class="pl-3">Fase Arterial / Fase Córtico Medular: </strong> Intenso realce</p>
          <p><strong class="pl-3">Fases Portal / Fase Nefrográfica: </strong>Intenso realce ou "wash out"</p>
          <p><strong class="pl-3">Fases Tardia: </strong>-------</p>
  
     


        <!-- /////////////////////////////////////////////////// AD SENSE-->
        <hr>

        <%- include("../googleAdSense_ColunaPrincipal_meio") -%>

          <!-- /////////////////////////////////////////////////// -->

  
  
        <h5 class="titulo"> <strong> Entendendo os Aspectos de Imagem </strong> </h5>
        <p class="titulo"> <strong> Ultrassonografia: </strong></p>
        <p> <strong>O aspecto mais comum é o nódulo hipoecóide, inespecífico.</strong> Como o carcinoma de células renais pode apresentar conteúdo gorduroso em até 60% dos casos esta lesão pode se apresentar a ultrassonografia como nódulo hiperecóide ( inespecífico ).
  
        <p class="titulo"> <strong> Tomografia Computadorizada: </strong> </p>
        <p><strong> O aspecto mais  clássico desta lesão e aquele pelo qual fazemos o diagnóstico é o ávido realce hipervascular.</strong> A lesão apresenta realce na fase arterial com intensidade similiar ou igual ao córtex renal na fase arterial. Caso tenha dúvida o realce é de mais de 144uh em comparação com a fase sem contraste.</p>
        <p>Na fase portal / nefrográfica esta lesão pode apresentar tanto "wash out", quanto manter o intenso realce.</p>
        <p>Em lesões maiores a lesão pode ter necrose central</p>

        <p class="titulo"> <strong> Ressonância Magnética: </strong> </p>
        <p> <b>Nas sequências ponderadas em T1 e T2 </b> não tem aspecto característico.</p>
        <p> <b>Em T1 ( Dixon )</b>, pode apresentar queda de sinal na sequências " fora de fase " caso a lesão apresente conteúdo gorduroso.</p>
        <p>Nas sequencias com contraste apresenta o mesmo padrão da tomografia.</p>


          
        <h5 class="titulo"> <strong> Diagnósticos Diferenciais </strong> </h5>
        <p><strong>Ultrassonografia:</strong></p>
        <p> Nas lesões hiperecóides o diagnóstico diferencial se faz com o angiomiolipoma.</p>
        <p> Nas lesões hipoecóides é completamente inespecífico.</p>

        <p><strong>Tomografia Computadorizada e Ressonância Magnética:</strong></p>
        <p> O diagnóstico diferencial destas lesões é principalmente nas fases sem contraste, onde a lesão pode ter a mesma atenuação dos cistos hemáticos e de outros tumores renais</p>
        <p>Nas fases sem contraste faz diagnóstico diferencial com o oncocitoma e com o angiomiolipoma podre em gordura, muitas vezes estes diagnósticos só podendo ser realizado após a biopsia.</p>

                   
    </div>       
    

    <!-- //////////////////// youtube -->
    <!-- <h5 class="titulo pt-5 mt-5"> <strong> Video Aula / Resumo do artigo no Youtube </strong> </h5>

    <p class="pt-4"> Caso queira visualizar a aula no youtube:<a target="_blank" href="ttps://www.youtube.com/embed/zpOULjyy-n8?rel=0"> Assistir no Youtube</a> </p>
    
    <div class="embed-responsive embed-responsive-16by9 pt-5 mt-5 pb-5">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div> -->
                   

      <!-- ////////////////////////////// -->
      <!-- //////////////////// pixel -->
      
      <%- include("../googleAdSense_ColunaFim") -%>

           

                   <!-- ////////////////////////////// -->
         
         <hr class="mb-5 mt-5">
         <h5 class="titulo"> <strong >Referências: </strong> </h5>
               
        <p> <a target="_blank" href="https://www.ajronline.org/doi/pdf/10.2214/AJR.19.21681">Clear Cell Papillary Renal Cell Carcinoma: A Recent Entity With Distinct Imaging Patterns</a> </p>
          
      <p><a target="_blank" href="https://www.ajronline.org/doi/pdf/10.2214/AJR.19.21681">Diagnostic Imaging for Solid Renal Tumors: A Pictorial Review</a> </p>
      
      <p><a target="_blank" href="https://www.scielo.br/scielo.php?script=sci_arttext&pid=S0100-39842015000300009">Renal cell carcinoma: histological classification and correlation with imaging findings</a></p>

      <p><a target="_blank" href="https://pubs.rsna.org/doi/pdf/10.1148/radiol.13112617">Clear Cell Renal Cell Carcinoma: Discrimination from Other Renal Cell Carcinoma Subtypes and Oncocytoma at Multiphasic Multidetector CT</a></p>
                  
      </div>
      
      
      
      
      
      
  <!--     //////////////////////////////////////////////////
      COLUNA 2 -->
      
      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3">
        <h6 class="texto mb-3 p-2">Imagens </h6>
        
   <hr>    
  <!-- ////////////////////////// ULTRASSONOGRAFIA-->
              <strong class="titulo" > Ultrassonografia </strong>
    
  
  <a id="usg_imagem1" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808817/bin/diagnostics-06-00002-g011.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4808817/bin/diagnostics-06-00002-g011.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  <a id="usg_imagem2" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/3493.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/3493.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  
  <a id="usg_imagem3" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_55790-Afbeelding5.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_55790-Afbeelding5.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  <a id="usg_imagem4" href="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_14685.jpg" data-lightbox="roadtrip" data-title="____">
  <img class="img-fluid pt-3" src="https://www.ultrasoundcases.info/clients/ultrasoundcases/uploads/lbox_14685.jpg" alt="Nódulo hiperecogenico compativel com angiomiolipoma pobre"></a>
  
  
  <hr>
  
  
  
  <!-- ////////////////////////////////////////////// TOMOGRAFIA -->
              <strong class="titulo" > Tomografia </strong>
  
  <a href="./abdomen/figado/hemangioma-hepatico-tomografia-abdomen-1.jpg" data-lightbox="roadtrip" data-title="Hemangioma Hepático Cavernoso ( Típico ) / Case courtesy of Dr Bruno Di Muzio, Radiopaedia.org, rID: 20956">
  <img class="img-fluid pt-3" src="./abdomen/figado/hemangioma-hepatico-tomografia-abdomen-1.jpg" alt=""></a>
  
  
  
  
  <hr>
  
  <!-- ///////////////////////////////////////// --> <!-- ressonância magnética -->
  <strong class="titulo" > Ressonância </strong>
  
  <a id="rm_imagem1" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6032655/bin/jbsr-102-1-1536-g5.jpg" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6032655/bin/jbsr-102-1-1536-g5.jpg" alt="Ressonancia magnetica de Angiomiolipoma rico em gordura"></a>
  
  <a id="rm_imagem2" href="   https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig2/AS:466165861490689@1488154010568/Angiomyolipoma-MRI-showing-a-focal-lesion-located-in-the-upper-pole-of-the-left-kidney.png" data-lightbox="roadtrip" data-title="">
  <img class="img-fluid pt-3" src="   https://www.researchgate.net/profile/Angel_Quispe-Mauricio2/publication/314079298/figure/fig2/AS:466165861490689@1488154010568/Angiomyolipoma-MRI-showing-a-focal-lesion-located-in-the-upper-pole-of-the-left-kidney.png" alt="Ressonancia magnetica de angiomiolipoma em sequenciais em fase e fora de fase "></a>
     
  <%- include("../googleAdSense_ColunaImagem") -%>


  </div>
    </div>
  
  </div>
    
  </div>

  
  <%- include("../footer") %>


  <!-- ////////////  ../../footer Aqui você está acessando um arquivo dois niveis antes do diretório que você está. -->