


<%- include("../header") -%>

<%- include("../navbar") -%>




<div class="container">
  
  <%- include("../jumbotron") -%>

  <h4 class="texto p-3">NECROSE AVASCULAR DO QUADRIL </h4>

    <%- include("../colaboradorArtigo") -%>

  <hr class="mt-3 pb-3">
    <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-9">
     <h5 class="titulo"> <strong > Aspectos Gerais </strong> </h5>
     <p> <strong> A Necrose avascular (AVN) </strong>, também chamada osteonecrose ou infarto ósseo, é a morte do tecido ósseo devido à interrupção do do fluxo sanquíneo. Inicialmente esta isquemia / infarto pode ser assintomática porém determina gradualmente dor na articulação com consequente limitação do movimento e da sua amplitude. Esta patologia tem como principais complicações o colapso ósseo e a atrose precoce e está bem relacionada a vários fatores de risco</p>
     
          <h5 class="titulo"> <strong > Apresentação Clínica </strong> </h5>
     <p> <strong> A clínica do paciente é a dor aguda </strong>  que classicamente ocorre na região da inguinal ( "virilha" ) e que pode acompanhar com a a irradiação para a região interna da coxa, face interna do joelho ou região glútea homolateral a lesão. Vale observar que ela ocorre após o evento isquêmico, não no mesmo momento, tendo caracter progressivo e determinando limitação gradual do movimento e consequente perda da sua amplitude e artrose da articulação do quadril</p>
    
    
              <h5 class="titulo"> <strong >Etiologia </strong> </h5>
     <p> <strong> Classicamente ocorre no adulto jovem e no adulto/idoso. </strong> Entre os fatores que estão relacionados a isquemia / necrose da cabeça femural, segue tabela.
     
  
     </p>
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fatores etiológicos: </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"> Dislipidemias</td>
      <td>Origem traumática</td>
      <td>Fumo</td>
    </tr>
    <tr>
      <td scope="row"> Doença lúpica / Lúpus sistêmico</td>
      <td>Diabetes Mellitus</td>
      <td>Insuficiência renal crônica</td>
    </tr>
    <tr>
      <td scope="row">Uso crônico de córtico esteróides</td>
      <td>Hemoglobinopatias</td>
      <td>Alcoolismo</td>
    </tr>
     <tr>
      <td scope="row">HIV</td>
      <td>Gravidez</td>
      <td></td>
    </tr>
 
  </tbody>
</table>

<hr>
    
    
                  <h5 class="titulo"> <strong >Imagem - Radiografia e Tomografia </strong> </h5>
     <p> <strong> Há vários sistemas para a classificação da necrose avascular do quadril </strong> entre os quais a de <a href="">Ficat e Arlet</a> é a mais utilizada internacionalmente. Entre as alterações esperadas para incluem as áreas de osteólise / radio transparência, esclerose óssea, fratura subcondral, colapso ósseo e artrose. 
     </p>
     <p>
        Dentre todos estes achados a tomografia se destaca em relação a radiografia na detecção das fraturas subcondrais <a href="">( Estágio 3 da classificação de Ficat e Arlet )</a>, aspecto que se deve principalmente a sua resolução espacial e melhor contraste entre as estruturas. <em> ( " A tomografia conseque visualizar mais planos / mais porções da cabeça femural em relação a radiografia o que determina a sua melhor sensibilidade." )</em>  
     </p>
    
                      <h5 class="titulo"> <strong >Imagem - Ressonância Magnética</strong> </h5>
     <p> <strong> A ressonância magnética de quadril é o exame de maior sensibilidade para detecção da necrose avascular do quadril.</strong> <em>Ou seja, na fase aguda ele é o exame de escolha !!!!. </em>
       </p>
       <p>
       Apesar de ser o exame de escolha na fase inicial <a href="" >( Estágio 1 da classificação de Ficat e Arlet )</a> vale lembrar que a ressonância magnética tem menor sensibilidade para a detecção de fraturas subcondrais em relação a tomografia computadorizada.<em> ( " A ressonância magnética tem menor resolução espacial que a tomografia. No geral lembre-se que a tomografia é melhor para visualização de osso / fraturas!!!! " )</em>
       </p>
    
    
                          <h5 class="titulo"> <strong >Imagem - Aspectos Gerais e entendo os métodos. </strong> </h5>
     <p> <strong> Aspectos gerais:</strong> 
Como método para a detecção de necrose da cabeça femural na fase aguda a ressonância é o melhor exame pois ele é o único capaz de identificar o edema ósseo subcondral. Ou seja, no estágio1 da classificação de <a>Ficat e Arlet</a> ele é o exame indicado
       </p>
       <p>
A partir do momento que se realiza o diagnóstico de necrose avascular do fêmur recomenda-se a realização de tomografia computadorizada para melhor detecção de fraturas subcondrais e melhor delimitação entres dos estágios 2 e 3 de Ficat e Arlet.
       </p>
       <p> No estágio 2 tanto a tomografia computadorizada quanto a radiografia conseguem detectar os achados de isquemia da cabeça femural ( Radiotransparência / esclerose ). Portanto a RM neste estágio não tem tanto valor diagnóstico.</p>
       <p> Nos demais estágios ( 3 e 4 ) já são verificados as sequelas desta doença e possível artrose, estes achados podendo que podem ser visualizados por qualquer método de imagem ( RM / TC / RX ).</p>
       
       <p>Em resumo, a melhor indicação de cada método: </p>
       <ul>
         <li>Fase 1 (edema) - RM </li>
         <li>Fase 2 - TC ( detecção de fraturas subcondrais )</li>
         <li>Fase 3 e 4 - Qualquer método ( sequelas já diagnosticadas e que são o colapso e/ou a fratura do osso subcondral</li>
       </ul>

       <table class="table table-hover table-responsive">
  <thead>

<strong>Tabela que correlaciona a sintomatologia na necrose avascular do quadril com os estagios da classificação de Ficat e Arlet.</strong>
<p><em>RX: radiografia RM: Ressonância Magnética TC: Tomografia computadorizada</em></p>

    <tr style="    background: rgb(13,71,161);
background: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(25,118,210,1) 77%, rgba(21,101,192,1) 100%);

color:white;">
      <th scope="col">Ficat e Arlet</th> 
      <th scope="col"> TC / RX </th>
      <th scope="col"> RM </th>
      <th scope="col"> SINTOMAS</th>
   
      
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Estágio 0</th>
      <td>Sem achados </td>
      <td>Sem achados</td>
      <td>Sem sintomas</td>
    </tr>
    
    <tr>
      <th scope="row">Estágio 1</th>
      <td>Sem achados </td>
      <td>Edema ósseo subcondral ( Aumento do sinal em T2 ) </td>
      <td>Dor em fossa ilíaca ( "virilha" )</td>
    </tr>
        
     <tr>
      <th scope="row">Estágio 2</th>
      <td>Áreas de radiolucência/radiotransparencia e/ou áreas de esclerose associado a cistos subcondrais. Ausência do sinal do crescente. </td>
      <td>Edema ósseo subcondral + Defeitos ósseos com distribuição geográfica </td>
      <td>Dor em fossa ilíaca associado a limitação da amplitude de movimento e rigidez.</td>
    </tr>
        
    <tr>
      <th scope="row">Estágio 3</th>
      <td>Sinal de crescente + regiões de radiolucências / esclerose + associado a fratura do osso subcondral </td>
      <td>Os mesmos achados do RX/TC </td>
      <td>Dor em fossa ilíaca com irradiação para a face interna da coxa, joelho e glúteo</td>
    </tr>
    
   <tr>
      <th scope="row">Estágio 4</th>
      <td>Achados anteriores + Sinais de artrose </td>
      <td>Os mesmos achados do RX/TC </td>
      <td>Dor fixa em fossa ilíaca, face interna da coxa, joelho e glúteo</td>
    </tr>

  </tbody>
</table>

  <hr class="mb-5 mt-5">
  
       <h5 class="titulo"> <strong > Entendendo os achados de Imagem na Ressonância Magnética</strong> </h5>
        

     <!-- <p> <strong> Edema ósseo subcondral: </strong> Este achado é visualizado na sequência T2 da ressonância magnética com saturação de gordura ( "fat sat"), mas porquê ? É necessário a saturação de gordura pois sinal dela e do edema ( líquido intra celular ) na sequencia ponderada em T2 sem saturação de gordura é o mesmo ( Branco !!! ) . Então quando retiramos o sinal da gordura, ( lembre-se que a medular óssea é gordura!!! ) ela fica "preta" e assim conseguimos isolar o sinal do líquido ( Branco ). </p>

     <p>Portanto na sequência T2 com saturação de gordura o sinal do tecido celular subcutâneo e do osso é preto, ou seja o sinal foi "saturado".<em> Aspecto que significa que o sinal foi retirado e portanto tem coloração preta/escura.</em>. Como o sinal da gordura foi retirado ("saturado") conseguimos isolar o sinal do líquido e assim fazer o diangótico de edema ósseo.</p>
           <p>
     Em resumo a técnica de saturação de gordura tem por objetivo deixar tudo o que é gordura escuro / preto e o sinal do líquido/edema "Branco / alto sinal" para que assim possamos encontrar as alterações do exame.
     </p>
     <p>No nosso dia a dia as sequencias que tem saturação de gordura podem ter os seguintes prefixos ou sufixos: SPIR, STIR, DIXON e FAT-SAT</p> -->
  <p class="alert texto">Achado de Imagem:  - Edema ósseo subcondral localizado na cabeça femural na sequencia T2 com saturação de gordura.</p>
     
     
       
       <hr class="mb-5 mt-5">
                              <h5 class="titulo"> <strong >Referências: </strong> </h5>
     <p> <a href="https://www.ajronline.org/doi/10.2214/ajr.147.1.67">Avascular necrosis of the hip: comparison of MR, CT, and scintigraphy
MD Mitchell, HL Kundel, ME Steinberg, HY Kressel, A Alavi and L Axel Show less
Read More: https://www.ajronline.org/doi/10.2214/ajr.147.1.67</a>
       </p>
       
            <p> <a href="https://www.ajronline.org/doi/10.2214/ajr.180.2.1800363">    Subchondral Fractures in Osteonecrosis of the Femoral Head: Comparison of Radiography, CT, and MR Imaging
Kathryn Stevens1, Caroline Tao1, Shi-Uk Lee1, Natalie Salem1, Jan Vandevenne1, Calise Cheng1, Gesa Neumann2, Alexandre Valentin-Opran3 and Philipp Lang2
Read More: https://www.ajronline.org/doi/10.2214/ajr.180.2.1800363
</a>      
      </p>
      
      <p><a href="https://pubs.rsna.org/doi/full/10.1148/rg.344140019"> From the Radiologic Pathology Archives Imaging of Osteonecrosis: Radiologic-Pathologic Correlation
Mark D. Murphey , Kristopher L. Foreman, Mary K. Klassen-Fischer, Michael G. Fox, Ellen M. Chung, Mark J. Kransdorf</a></p>

    
    </div>
    
    
    
    
    <!-- <script>
      
    
        M.AutoInit();
    
    </script> -->
    
<!--     //////////////////////////////////////////////////
    COLUNA 2 -->

    
    
    
    <div class="col-sm-12 col-md-2 col-lg-3 hover" >
      <h6 class="texto mb-3 p-2">Imagens </h6>

      <!-- /public/ortopedia\quadril\necroseAvascularQuadril/Edema_osseo_cabeca_femural_ressonacia_magnetica_T2.jpg -->

      <hr>

      <strong class="titulo" > Radiografia </strong>

      <a href="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/large/rg.344140019.fig1b.jpeg" data-lightbox="image-1" data-title="My caption"><img class="img-fluid img-thumbnail" src="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/large/rg.344140019.fig1b.jpeg" alt=""></a>
      
      <a href="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/medium/rg.344140019.fig1c.gif" data-lightbox="image-1" data-title="My caption"><img class="img-fluid img-thumbnail" src="https://pubs.rsna.org/na101/home/literatum/publisher/rsna/journals/content/radiographics/2014/rg.2014.34.issue-4/rg.344140019/20141105/images/medium/rg.344140019.fig1c.gif" alt=""></a>

      <hr>

      <strong class="titulo" > Ressonância Magnética </strong>

      <a href="ortopedia\quadril\necroseAvascularQuadril/Edema_osseo_cabeca_femural_ressonacia_magnetica_T2.jpg" data-lightbox="image-1" data-title="Edema ósseo subcondral localizado na cabeça femural"><img class="img-fluid img-thumbnail" src="ortopedia\quadril\necroseAvascularQuadril/Edema_osseo_cabeca_femural_ressonacia_magnetica_T2.jpg" alt=""></a>
      
      <!-- public/ortopedia/quadril\\/necroseAvascularQuadril/Fratura_Subcondral_Cabeca_Femural.jpg -->
      <a href="ortopedia/quadril\\/necroseAvascularQuadril/Fratura_Subcondral_Cabeca_Femural.jpg" data-lightbox="image-1" data-title="Fratura subcondral localizada na cabeça femural"><img class="img-fluid img-thumbnail" src="ortopedia/quadril/necroseAvascularQuadril/Fratura_Subcondral_Cabeca_Femural.jpg" alt=""></a>

 
      

    </div>
  </div>

</div>
  
</div>


<%- include("../footer") %>